@charset "UTF-8";
/* --------------------------- 
	# bom page 物料清单页
 -----------------------------*/
.bom_detail_info {
  margin-bottom: 100px; }
  .bom_detail_info ul li {
    font-size: 0; }
    .bom_detail_info ul li span {
      display: inline-block;
<<<<<<< HEAD
      line-height: 19px;
=======
      line-height: 20px;
      font-size: 15px;
>>>>>>> 8db3eea7eb051f57bcdd1058068a2652dc09ac87
      border-bottom: 1px solid #eee;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 10px 0;
      font-size: 14px; }
      .bom_detail_info ul li span:nth-child(1) {
<<<<<<< HEAD
        width: 10%;
        text-align: center; }
=======
        width: 10%; }
        .bom_detail_info ul li span:nth-child(1) .textcenter {
          text-align: center; }
        .bom_detail_info ul li span:nth-child(1) .textright {
          text-align: right;
          padding-right: 50px; }
>>>>>>> 8db3eea7eb051f57bcdd1058068a2652dc09ac87
      .bom_detail_info ul li span:nth-child(2) {
        width: 25%; }
      .bom_detail_info ul li span:nth-child(3) {
        width: 10%; }
      .bom_detail_info ul li span:nth-child(4) {
        width: 20%; }
      .bom_detail_info ul li span:nth-child(5) {
        width: 5%;
        text-align: center; }
      .bom_detail_info ul li span:nth-child(6) {
        width: 20%; }
      .bom_detail_info ul li span:nth-child(7) {
        width: 10%;
        text-align: center; }
      .bom_detail_info ul li span.qty {
        text-align: center; }
        .bom_detail_info ul li span.qty input {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          width: 50px;
          height: 18px;
          text-align: center; }
          .bom_detail_info ul li span.qty input:disabled {
            border: 1px solid #ddd;
            color: #ccc; }
    .bom_detail_info ul li ul li ul li span:nth-child(2) {
      padding-left: 20px; }
