@charset "UTF-8";
*, dl, dt, dd, ul, li {
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: arial, 'Microsoft Yahei';
  list-style: none; }

.clrfix:after {
  clear: both;
  content: "";
  display: block; }

.btn_line {
  box-shadow: 0;
  clear: both;
  margin: 1px 0; }

.btm_btn_group {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 20px 0;
  background: rgba(75, 86, 100, 0.8);
  width: 100%;
  left: 0;
  text-align: center; }
  .btm_btn_group .btn {
    margin: 0 10px; }

.quickSearch {
  padding: 15px;
  display: none; }
  .quickSearch .control-label {
    padding: 0 15px; }

.breadcrumb > li + li:before {
  content: "";
  padding: 0;
  display: none; }

.breadcrumb {
  display: none;
  padding: 15px;
  border-radius: 0; }
  .breadcrumb i:before {
    margin: 0 5px; }

/*--------------
	#button style 
 ---------------*/
/* ------------------------------------------
	# login & register 
------------------------------------------- */
.login .create_account {
  display: none;
  float: right;
  padding: 6px;
  line-height: 20px; }
  .login .create_account:hover {
    cursor: pointer; }

.registerBox .form-horizontal {
  padding: 10px; }

.registerBox .col-sm-12 {
  text-align: right; }

/* ------------------------------------------ 
	# header
--------------------------------------------- */
.header .navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #343c48;
  border: 0; }
  .header .navbar a {
    font-size: 16px;
    cursor: pointer; }
  .header .navbar .nav:first-child li:nth-child(4) {
    visibility: hidden; }
  .header .navbar .nav:first-child li:nth-child(3) {
    visibility: hidden; }

/*------------------------------------------ 
	#sidebar
 ------------------------------------------*/
.left_side_bar {
  position: fixed;
  height: 100%;
  background: #4b5664;
  width: 250px;
  padding-top: 50px;
  box-sizing: border-box; }
  .left_side_bar ul li {
    line-height: 30px; }
    .left_side_bar ul li a {
      color: #fff;
      font-size: 16px;
      display: block;
      padding: 10px 20px; }
      .left_side_bar ul li a i {
        color: #fff;
        margin-right: 15px; }
      .left_side_bar ul li a:hover {
        background-color: #343c48 !important;
        text-decoration: none; }
    .left_side_bar ul li:last-child {
      display: none; }

.main_body {
  box-sizing: border-box; }
  .main_body .main_content {
    width: 100%;
    padding: 75px 25px 25px 275px;
    box-sizing: border-box; }

#home ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  #home ul li {
    padding: 0 5px;
    float: left;
    list-style: none; }
    #home ul li a {
      background: #eee;
      padding: 5px 10px; }

#home dl {
  list-style: none; }

/* ----------------------------
	#my orders
------------------------------ */
.my_orders .main_content .table td {
  font-size: 16px;
  line-height: 35px; }

/*--------------------------------
	#order details page
 --------------------------------*/
.order_details .order_detail_info .row > .col-md-6, .order_details .report_details_form .row > .col-md-6, .report_details .order_detail_info .row > .col-md-6, .report_details .report_details_form .row > .col-md-6, .bom_details .order_detail_info .row > .col-md-6, .bom_details .report_details_form .row > .col-md-6, .design_details .order_detail_info .row > .col-md-6, .design_details .report_details_form .row > .col-md-6, .work_load .order_detail_info .row > .col-md-6, .work_load .report_details_form .row > .col-md-6, .cost_details .order_detail_info .row > .col-md-6, .cost_details .report_details_form .row > .col-md-6 {
  width: 50%;
  float: left; }
  .order_details .order_detail_info .row > .col-md-6 .fa, .order_details .report_details_form .row > .col-md-6 .fa, .report_details .order_detail_info .row > .col-md-6 .fa, .report_details .report_details_form .row > .col-md-6 .fa, .bom_details .order_detail_info .row > .col-md-6 .fa, .bom_details .report_details_form .row > .col-md-6 .fa, .design_details .order_detail_info .row > .col-md-6 .fa, .design_details .report_details_form .row > .col-md-6 .fa, .work_load .order_detail_info .row > .col-md-6 .fa, .work_load .report_details_form .row > .col-md-6 .fa, .cost_details .order_detail_info .row > .col-md-6 .fa, .cost_details .report_details_form .row > .col-md-6 .fa {
    font-size: 20px;
    vertical-align: middle;
    color: #4b5664; }

.order_details .order_detail_info .row:after, .order_details .report_details_form .row:after, .report_details .order_detail_info .row:after, .report_details .report_details_form .row:after, .bom_details .order_detail_info .row:after, .bom_details .report_details_form .row:after, .design_details .order_detail_info .row:after, .design_details .report_details_form .row:after, .work_load .order_detail_info .row:after, .work_load .report_details_form .row:after, .cost_details .order_detail_info .row:after, .cost_details .report_details_form .row:after {
  clear: both;
  content: "";
  display: block; }

.order_details .order_detail_info .row .panel-heading, .order_details .report_details_form .row .panel-heading, .report_details .order_detail_info .row .panel-heading, .report_details .report_details_form .row .panel-heading, .bom_details .order_detail_info .row .panel-heading, .bom_details .report_details_form .row .panel-heading, .design_details .order_detail_info .row .panel-heading, .design_details .report_details_form .row .panel-heading, .work_load .order_detail_info .row .panel-heading, .work_load .report_details_form .row .panel-heading, .cost_details .order_detail_info .row .panel-heading, .cost_details .report_details_form .row .panel-heading {
  font-weight: bold;
  line-height: 30px; }

.order_details:after, .report_details:after, .bom_details:after, .design_details:after, .work_load:after, .cost_details:after {
  content: "";
  display: block;
  clear: both; }

/* --------------------------- 
	# work load page 工程量页
 -----------------------------*/
.work_load .work_load_list {
  float: left;
  box-sizing: border-box; }
  .work_load .work_load_list .work_load_list_title {
    font-size: 0;
    position: relative; }
    .work_load .work_load_list .work_load_list_title li {
      float: left;
      display: inline-block;
      border-bottom: 1px solid;
      box-sizing: border-box;
      padding: 10px 0; }
      .work_load .work_load_list .work_load_list_title li.order_num {
        width: 5%; }
      .work_load .work_load_list .work_load_list_title li.name {
        width: 10%; }
      .work_load .work_load_list .work_load_list_title li.description {
        width: 50%; }
      .work_load .work_load_list .work_load_list_title li.position {
        width: 10%; }
      .work_load .work_load_list .work_load_list_title li.unit {
        width: 5%; }
      .work_load .work_load_list .work_load_list_title li.work_qty {
        width: 20%; }
  .work_load .work_load_list ul li ul {
    clear: both; }
    .work_load .work_load_list ul li ul li span:nth-child(3) {
      padding-left: 30px; }
    .work_load .work_load_list ul li ul li ul li span:nth-child(3) {
      padding-left: 60px; }
  .work_load .work_load_list ul li span {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    padding: 10px 0; }
    .work_load .work_load_list ul li span:nth-child(1) {
      width: 5%; }
    .work_load .work_load_list ul li span:nth-child(2) {
      width: 10%; }
    .work_load .work_load_list ul li span:nth-child(3) {
      width: 50%; }
    .work_load .work_load_list ul li span:nth-child(4) {
      width: 10%; }
    .work_load .work_load_list ul li span:nth-child(5) {
      width: 5%; }
    .work_load .work_load_list ul li span:nth-child(6) {
      width: 20%; }

/*-------------------
	量房报告 
 --------------------*/
.report_details_form .report_tab_steptwo h3 {
  color: #555; }

.report_details_form .report_tab_steptwo span {
  height: 50px;
  display: inline-block;
  width: 50px;
  border-left: 50px solid; }

.report_details_form .report_tab_steptwo div {
  background: #eee; }

.report_details_form .report_tab_listone {
  margin: 60px 170px 0 25px; }
  .report_details_form .report_tab_listone > div {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee; }
    .report_details_form .report_tab_listone > div > div > p span {
      color: #f00; }

.report_details_form .report_tab_listtwo {
  margin: 60px 170px 0 160px; }
  .report_details_form .report_tab_listtwo .radio-success label {
    margin: 0 20px; }
  .report_details_form .report_tab_listtwo .checkbox-success label {
    margin: 0 20px; }
  .report_details_form .report_tab_listtwo h3 {
    padding-bottom: 20px;
    color: #169BD5;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 2px solid #eee; }
  .report_details_form .report_tab_listtwo > div > div {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee; }
    .report_details_form .report_tab_listtwo > div > div > div > p span {
      color: #f00; }
    .report_details_form .report_tab_listtwo > div > div > div > input {
      margin-right: 20px; }
    .report_details_form .report_tab_listtwo > div > div.btm_btn_group {
      margin-bottom: 0;
      border-bottom: none; }

.report_details_form .step_content {
  display: none; }
  .report_details_form .step_content .additional_info {
    display: none; }
  .report_details_form .step_content .report_tab_listone .radio-success label {
    margin: 0 20px; }
  .report_details_form .step_content .table {
    margin: 20px auto; }
  .report_details_form .step_content .inputtext {
    line-height: 30px; }

.report_details_form .step_box .step {
  position: relative; }
  .report_details_form .step_box .step h3 {
    font-size: 14px;
    display: inline-block;
    margin: 0;
    line-height: 60px;
    background: #ddd;
    width: 100%;
    text-align: center;
    height: 60px;
    font-size: 16px; }
  .report_details_form .step_box .step span {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    border-left: 30px solid #ddd;
    border-top: 30px solid #fff;
    border-bottom: 30px solid #fff; }
  .report_details_form .step_box .step div {
    position: absolute;
    z-index: -1;
    left: 42%;
    top: 65px;
    width: 100%;
    height: 9px;
    background: #eee;
    border: none;
    border-radius: 10px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.report_details_form .step_box .viewed span {
  background: #169BD5;
  border-left-color: #4b5664; }

.report_details_form .step_box .viewed h3 {
  background: #4b5664;
  color: #fff; }

.report_details_form .step_box .viewed div {
  background: #169BD5; }

.report_details_form .report_table {
  width: 1000px; }
  .report_details_form .report_table .tabletitle {
    font-size: 20px;
    text-align: center; }
  .report_details_form .report_table .trtitle {
    font-size: 16px;
    text-align: center; }
  .report_details_form .report_table .leftmenu {
    width: 36px; }
  .report_details_form .report_table tr td {
    vertical-align: middle; }
    .report_details_form .report_table tr td:nth-child(2) {
      width: 120px; }
    .report_details_form .report_table tr td:nth-child(3) {
      width: 120px; }

.design_details_cont {
  float: left; }
  .design_details_cont .col-md-2 img {
    width: 100%; }
  .design_details_cont .btn {
    font-size: 16px; }
    .design_details_cont .btn i {
      font-size: 20px;
      vertical-align: middle;
      margin: 0 10px; }
    .design_details_cont .btn.design_draw_add {
      width: 150px;
      margin-right: 0; }

.blueprints {
  width: 100%;
  margin: 0 auto; }
  .blueprints > div {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd; }
    .blueprints > div h3 {
      font-size: 18px;
      color: #333; }
    .blueprints > div > div > div {
      margin-bottom: 20px; }
  .blueprints .btn {
    width: 50%; }
  .blueprints .row {
    position: relative; }
    .blueprints .row .col-md-3:last-child {
      position: absolute;
      bottom: 0;
      margin: 0;
      top: 50%;
      transform: translateY(-50%);
      right: 0; }
      .blueprints .row .col-md-3:last-child .btn {
        margin: 0 auto; }
  .blueprints .alreadyend {
    color: #999; }
  .blueprints .version_set_success {
    font-size: 16px;
    text-align: center;
    display: block; }
    .blueprints .version_set_success i {
      color: green;
      font-size: 20px;
      vertical-align: middle; }

.bom_detail_info {
  width: 1000px; }

.design_draw_add_form .form-group p, .design_draw_edit_form .form-group p {
  color: #bbb; }

/* --------------------------- 
	# bom page 物料清单页
 -----------------------------*/
.bom_detail_info ul li {
  font-size: 0; }
  .bom_detail_info ul li span {
    display: inline-block;
    line-height: 30px;
    border-bottom: 1px solid;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 0; }
    .bom_detail_info ul li span:nth-child(1) {
      width: 10%; }
    .bom_detail_info ul li span:nth-child(2) {
      width: 25%; }
    .bom_detail_info ul li span:nth-child(3) {
      width: 10%; }
    .bom_detail_info ul li span:nth-child(4) {
      width: 20%; }
    .bom_detail_info ul li span:nth-child(5) {
      width: 5%; }
    .bom_detail_info ul li span:nth-child(6) {
      width: 20%; }
    .bom_detail_info ul li span:nth-child(7) {
      width: 10%;
      text-align: center; }
    .bom_detail_info ul li span.qty {
      text-align: center; }
      .bom_detail_info ul li span.qty input {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 50%;
        line-height: 20px; }
  .bom_detail_info ul li ul li ul li span:nth-child(2) {
    padding-left: 20px; }

/* -------------------------------
# costForm page 成本控制单
---------------------------------- */
/* -------------------
  # account page
----------------------
 */
.account_details {
  padding-bottom: 100px; }
  .account_details .account_delails_money {
    padding: 20px 10px;
    margin-bottom: 30px;
    border: 2px solid #eee; }
    .account_details .account_delails_money .account_delails_money_all h3 {
      font-size: 16px; }
      .account_details .account_delails_money .account_delails_money_all h3 + span {
        font-size: 16px;
        color: #f00; }
    .account_details .account_delails_money .account_delails_money_all > div:nth-child(2), .account_details .account_delails_money .account_delails_money_all > div:nth-child(5) {
      padding-top: 20px;
      font-size: 14px; }
    .account_details .account_delails_money .account_delails_money_all > div:nth-child(3) {
      padding-top: 5px;
      font-size: 12px; }
      .account_details .account_delails_money .account_delails_money_all > div:nth-child(3) > button:nth-child(1) {
        margin-bottom: 10px; }
    .account_details .account_delails_money > div:nth-child(2) > p a {
      color: #20985e; }
    .account_details .account_delails_money > div:nth-child(3) > p a {
      color: #dd8628; }
  .account_details .account_delails_list {
    padding: 20px 40px;
    border: 2px solid #eee; }
    .account_details .account_delails_list > p > span {
      padding: 0 10px; }
      .account_details .account_delails_list > p > span:nth-child(1) {
        padding-left: 0;
        color: #f00;
        border-right: 2px solid #666; }
    .account_details .account_delails_list ul li {
      margin-top: 20px;
      padding: 10px 0;
      border-bottom: 2px solid #eee; }

/* ------------------------------
	# gallery page 图库
-------------------------------- */
.gallery_details {
  width: 1000px;
  float: left; }
  .gallery_details > nav {
    padding-bottom: 30px;
    border-bottom: 2px solid #eee; }
    .gallery_details > nav ul span {
      width: 5%;
      float: left; }
    .gallery_details > nav ul li {
      width: 10%;
      float: left;
      text-align: center;
      border-right: 1px solid #aaa; }
    .gallery_details > nav ul li:nth-child(8) {
      border: none; }
    .gallery_details > nav ul li:nth-child(9) {
      width: 25%;
      border: none; }
  .gallery_details .gallery_details_list {
    margin-top: 20px; }
    .gallery_details .gallery_details_list ul li {
      float: left;
      width: 25%;
      margin-bottom: 15px; }
      .gallery_details .gallery_details_list ul li div {
        position: relative;
        width: 92%;
        margin: 0 auto;
        padding-bottom: 5px;
        background: #eee; }
        .gallery_details .gallery_details_list ul li div span {
          position: absolute;
          top: 4px;
          left: 4px;
          width: 40px;
          height: 20px;
          line-height: 20px;
          color: #fff;
          text-align: center;
          border-radius: 2px;
          background: #f19a4f; }
        .gallery_details .gallery_details_list ul li div img {
          width: 100%; }
        .gallery_details .gallery_details_list ul li div a {
          position: absolute;
          bottom: 10px;
          right: 5px;
          width: 26%;
          height: 26px;
          color: #fff;
          line-height: 26px;
          text-align: center;
          border-radius: 4px;
          background: #1aaaf6; }

/*--------------------------------------
	# gallery page details 图库查看详情
---------------------------*/
.gallery_order {
  padding: 10px; }
  .gallery_order h3 {
    font-size: 18px; }
  .gallery_order .gallery_order_list {
    margin-top: 20px; }
    .gallery_order .gallery_order_list .gallery_order_list_item {
      margin-bottom: 14px; }
      .gallery_order .gallery_order_list .gallery_order_list_item > ul {
        overflow: hidden; }
        .gallery_order .gallery_order_list .gallery_order_list_item > ul li {
          float: left; }
        .gallery_order .gallery_order_list .gallery_order_list_item > ul > :nth-child(1) {
          width: 25%; }
          .gallery_order .gallery_order_list .gallery_order_list_item > ul > :nth-child(1) img {
            width: 100%; }
        .gallery_order .gallery_order_list .gallery_order_list_item > ul > :nth-child(2) {
          width: 60%;
          margin-left: 4%; }
          .gallery_order .gallery_order_list .gallery_order_list_item > ul > :nth-child(2) > h4 {
            font-size: 16px; }
