html, body, fieldset, dl, *, input {
  font-size: 10px;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Century Gothic, Microsoft Yahei, Arial;
  border-radius: 0;
  list-style: none;
  font-weight: normal;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-text-size-adjust: none;
  overflow-x: auto; }

.step_head {
  position: fixed;
  width: 100%;
  z-index: 11; }
  .step_head ul {
    width: 100%;
    background: #F4F4F4; }
    .step_head ul li {
      float: left;
      text-align: center;
      background-size: 25%;
      width: 25%;
      height: 7vw;
      line-height: 7vw;
      display: inline-block;
      border-bottom: 1px solid #c2c2c2; }
      .step_head ul li.viewed span {
        background: #343c48; }
      .step_head ul li span {
        margin-left: -10%;
        border-radius: 100%;
        width: 5vw;
        background: #a0a0a0;
        color: #fff;
        height: 5vw;
        font-size: 4vw;
        line-height: 5vw;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        margin-left: 2vw; }
      .step_head ul li:after {
        width: 5vw;
        display: block;
        text-align: right;
        height: 7vw;
        content: " ";
        background: url(../images/rightArrow.png) no-repeat center center;
        background-size: 100%;
        float: right; }
    .step_head ul:after {
      content: "";
      clear: both;
      display: block; }

.step1 h2 {
  padding: 9.3vw;
  font-size: 4.3vw;
  margin-top: 7vw;
  text-align: center;
  border-bottom: 1px solid #c2c2c2; }

.step1 .form_group {
  margin: 0 !important;
  padding-bottom: 0; }

fieldset {
  padding: 0 3.2vw;
  display: none;
  position: relative; }
  fieldset.active {
    display: block; }
  fieldset dl {
    display: flex;
    flex-direction: row;
    -webkit-align-items: flex-center;
    -moz-align-items: flex-center;
    padding: 4vw 0;
    color: #1c1c1c; }
    fieldset dl dt, fieldset dl dd {
      font-size: 3.7vw;
      display: inline-block;
      line-height: 5vw;
      position: relative;
      width: 70%; }
    fieldset dl dt {
      padding-right: 1vw;
      color: #666666;
      width: 30%;
      line-height: 8.7vw; }
    fieldset dl.first_line {
      padding-top: 8vw; }

section h3 {
  font-size: 4vw;
  color: #343c48; }

.form_group {
  position: relative; }
  .form_group input {
    background: none;
    border-bottom: 1px solid #c2c2c2;
    height: 9.3vw;
    width: 100%;
    box-sizing: border-box;
    padding: 3vw 3vw 3vw;
    font-size: 3.7vw;
    position: relative;
    z-index: 1; }
    .form_group input::input-placeholder {
      color: #666666;
      line-height: 5.9vw;
      height: 4.7vw;
      font-size: 3.7vw; }
    .form_group input::-moz-input-placeholder {
      color: #666666;
      height: 4.7vw;
      font-size: 3.7vw; }
    .form_group input::-webkit-input-placeholder {
      color: #666666;
      height: 4.7vw;
      font-size: 3.7vw; }
    .form_group input:before {
      content: attr(placeholder);
      color: red; }
  .form_group span {
    height: 9.3vw;
    width: 100%;
    display: block;
    background: url(../images/rightArrow.png) no-repeat right center;
    background-size: 10%;
    position: absolute;
    top: 0%;
    right: 0%; }
  .form_group .imageGroup {
    display: flex;
    align-items: center; }
    .form_group .imageGroup .uploadImg {
      display: flex;
      width: 100%;
      padding: 1vw;
      box-sizing: border-box; }
      .form_group .imageGroup .uploadImg a {
        margin: 0.5vw;
        background: red;
        position: relative;
        height: 21.4vw;
        width: 21.4vw;
        display: block;
        border: 1px dashed #eee;
        background: url(../images/plus.png) no-repeat center center;
        background-size: 50%; }
        .form_group .imageGroup .uploadImg a input {
          opacity: 0;
          margin: 0;
          height: 15vw;
          width: 15vw;
          position: absolute;
          margin: auto;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0; }
          .form_group .imageGroup .uploadImg a input input {
            width: 5vw;
            position: absolute; }
      .form_group .imageGroup .uploadImg .imgItem {
        position: relative;
        background: none;
        width: 21.4vw;
        height: 21.4vw;
        border: 1px dashed #eee;
        margin-right: 1.2vw; }
        .form_group .imageGroup .uploadImg .imgItem img {
          width: 100%;
          height: 21.4vw; }
        .form_group .imageGroup .uploadImg .imgItem b {
          background: url(../images/close.png) no-repeat;
          width: 5vw;
          height: 5vw;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          background-size: 100%; }

.form {
  padding-bottom: 16vw; }
  .form fieldset .form_group {
    margin-top: 4vw; }
    .form fieldset .form_group:first-child {
      margin-top: 12vw; }
  .form fieldset .content input {
    height: 9.6vw;
    background: #F4F4F4;
    width: 100%;
    margin: 5vw 0; }
  .form fieldset .content:after {
    clear: both;
    content: "";
    display: block; }
  .form fieldset .content p {
    font-size: 4vw;
    padding: 3vw 3vw; }
    .form fieldset .content p b {
      display: inline-block;
      color: #343c48;
      background: #F4F4F4;
      font-size: 3.2vw;
      padding: 1vw 3vw;
      border-radius: 2px;
      margin-left: 2vw; }
  .form fieldset .content .deviation {
    display: flex;
    margin: 2vw 0 5vw; }
    .form fieldset .content .deviation input {
      margin: 0;
      background: none;
      text-align: center;
      border: 1px solid #a0a0a0;
      padding: 1vw;
      border-right: 0; }
      .form fieldset .content .deviation input:last-child {
        border-right: 1px solid #a0a0a0; }
  .form .step2.generalSection h3 {
    border-left: 5px solid #ff971c;
    padding-left: 5px; }
  .form .step3.normalSection h3 {
    border-left: 5px solid #49ADE9;
    padding-left: 5px; }
  .form.c5-1 .step1 dl.proof input {
    text-align: center;
    font-size: 3.7vw;
    border-bottom: 1px solid #c2c2c2;
    margin: 0 1vw;
    width: 35vw; }
  .form.c5-1 .step1 dl.proof dd {
    line-height: 9.3vw;
    margin-top: -2vw; }

.nextStep, .confirmBtn {
  position: fixed;
  width: 93.5vw;
  display: block;
  height: 12vw;
  text-align: center;
  line-height: 12vw;
  background: #343c48;
  border-radius: 1vw;
  color: #fff;
  font-size: 4vw;
  bottom: 3.2vw;
  box-sizing: border-box;
  z-index: 10; }

.clrfix:after {
  clear: both;
  content: "";
  display: block; }

#tableSample {
  overflow: scroll; }
