.login {
  width: 240px;
  border: 1px solid #ddd;
  position: absolute;
  height: 100px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px; }
  .login fieldset {
    width: 100%;
    border: 0; }
