/*--------------------------------
	#order details page
 --------------------------------*/
.order_details .order_detail_info > .row ul li {
  padding: 8px 15px; }

.order_details .order_detail_info > .row .panel-heading {
  border-bottom: 1px solid #eee; }

.order_details .order_detail_info > .row .col-md-4 {
  border-right: 1px solid #eee; }
  .order_details .order_detail_info > .row .col-md-4:last-child {
    border-right: 0; }
  .order_details .order_detail_info > .row .col-md-4 .panel-body > li span {
    font-size: 15px; }
    .order_details .order_detail_info > .row .col-md-4 .panel-body > li span:last-child {
      color: #888; }

/* ----------------------------
	#my orders
------------------------------ */
.main_body .my_orders .main_content {
  padding: 75px 25px; }
  .main_body .my_orders .main_content .table td {
    font-size: 14px;
    line-height: 35px; }
    .main_body .my_orders .main_content .table td:last-child {
      text-align: right; }
