// 

*,dl, dt,dd, ul, li {
	text-decoration: none;
	font-size: 16px;
	// color: #000;
	margin: 0;
	padding: 0;
	font-family: arial, 'Microsoft Yahei';
	list-style: none;
	// font-size: 10px;
}

// public style
.clrfix:after {
	clear: both;
	content: "";
	display: block;
}
.btn_line {
	// border-bottom: 1px solid #eee;
	box-shadow: 0;
	clear: both;
	margin: 1px 0;
}

.btm_btn_group {
	position: fixed;
	bottom: 0;
	margin: 0;
	padding: 20px 0;
	background: rgba(75,86,100,0.8);
	width: 100%;
	left: 0;
	text-align: center;
	border: none;
	.btn {
		margin: 0 10px;
		&.btn-primary {
			// letter-spacing: 12px;
			// text-indent: 12px;
		}
	}			
}

// quick search 
.quickSearch {
	padding: 15px;
	display: none;
	.control-label {
		padding: 0 15px ;
	}
}

.breadcrumb>li+li:before {
	content: "";
	padding: 0;
	display: none;
}
.breadcrumb {
	display: none;
	padding: 15px;
	border-radius: 0;

	i {
		&:before {
			margin:0 5px;
		}
	}

}
/*--------------
	#button style 
 ---------------*/

/* ------------------------------------------
	# login & register 
------------------------------------------- */
.login {
	.create_account {
		display: none;
		float: right;
		// display: inline-block;
		padding: 6px;
		line-height: 20px;
		&:hover {
			cursor: pointer;
		}
	}
}

.registerBox  {

	.form-horizontal {
		padding: 10px;		
	}
	
	.col-sm-12 {
		text-align: right;
	}
}

/* ------------------------------------------ 
	# header
--------------------------------------------- */
.header {
	.navbar {
		margin-bottom: 0;
		border-radius: 0;
		background-color: #343c48;
		border: 0 ;
		a {
			font-size: 16px;
			cursor: pointer;
		}
		.nav:first-child {
			li {
				&:nth-child(4) {
					visibility: hidden;
				}
				&:nth-child(3) {
					visibility: hidden;
				}
			}
		}
	}

} 

/*------------------------------------------ 
	#sidebar
 ------------------------------------------*/
.side_bar {

}

.left_side_bar {
	position: fixed;
	height: 100%;
	background: #4b5664;
	width: 250px;
	padding-top:50px;
	box-sizing: border-box;
	// top: 50px;
	ul {
		li {
			line-height: 30px;
			a {
				color: #fff;
				font-size: 16px;
				display: block;
				padding: 10px 20px;
				i {
					color: #fff;
					margin-right: 15px;
				}
				&:hover {
					background-color: #343c48 !important;
					text-decoration: none;
				}
			}
			&:last-child {
				display: none;
			}
		}
	}
}

// main section

.main_body {
	// padding-top: 50px;
	box-sizing: border-box;
	.main_content {
		width: 100%;
		padding: 75px 25px 25px 275px;		
		// float: left;
		box-sizing: border-box;
		// color: #eee;
		// margin-left: 250px;
	}
}


// home page

#home {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			padding: 0 5px;
			float: left;
			list-style: none;
			a {
				background: #eee;
				padding: 5px 10px;
			}
		}
	}
	dl {
		list-style: none;
	}
}

/* ----------------------------
	#my orders
------------------------------ */
.my_orders {

	// padding: 10px;
	
	.main_content {
		.table {
			td {
				font-size: 16px;
				line-height: 35px;
			}
		}
	}

}


/*--------------------------------
	#order details page
 --------------------------------*/
.order_details,.report_details,.bom_details,.design_details,.work_load,.cost_details {
	

	.order_detail_info, .report_details_form{

		.row {
			&> .col-md-6 {
				width: 50%;
				float: left;
				.fa {
					font-size: 20px;
					vertical-align: middle;
					color: #4b5664;
				}
			}

			&:after {
				clear: both;
				content: "";
				display: block;
			}
			.panel {
				// border: 1px solid;
				// padding: 10px;
				// margin: 0 10px 10px;
			}
			.panel-heading {
				font-weight: bold;
				line-height: 30px;
			}
		}
		.row:last-child {
			.col-md-6 {

			}
		}
	}
	
	&:after {
		content: "";
		display: block;
		clear: both;

	}
}


/* --------------------------- 
	# work load page 工程量页
 -----------------------------*/

 .work_load {
	// padding: 10px;
	.work_load_list {
		float: left;
		// width: 1000px;
		// padding: 10px;
		box-sizing: border-box;

		.work_load_list_title {
			font-size: 0;
			position: relative;
			li {
				float: left;
				display: inline-block;
				border-bottom:1px solid;
				box-sizing: border-box;
				padding: 10px 0;
				&.order_num {
					width: 5%;
				}
				&.name {
					width: 10%;
				}
				&.description {
					width: 50%;
				}
				&.position {
					width: 10%;
				}
				&.unit {
					width: 5%;
				}
				&.work_qty {
					width: 20%;
				}					
			}
		}

		ul {
			li {

				ul {
					clear: both;

					li {
						span {
							&:nth-child(3) {
								padding-left:30px;
							}
						}
						ul {

							li {
								span {
									&:nth-child(3) {
										padding-left:60px;
									}
								}
							}
						}
					}
				}
				span {
					display: inline-block;
					float: left;
					box-sizing: border-box;
					// border-bottom:1px solid;
					// min-height: 35px;
					padding: 10px 0;

					&:nth-child(1) {
						width: 5%;
					}
					&:nth-child(2) {
						width: 10%;
					}
					&:nth-child(3) {
						width: 50%;
					}
					&:nth-child(4) {
						width: 10%;
					}
					&:nth-child(5) {
						width: 5%;
					}
					&:nth-child(6) {
						width: 20%;
					}
				}
			}			
		}
		// .btn_group {
		// 	position: fixed;
		// 	bottom: 0;
		// 	margin: 0;
		// 	padding: 20px 0;
		// 	background: rgba(75,86,100,0.8);
		// 	width: 100%;
		// 	left: 0;
		// 	text-align: center;
		// 	.btn {
		// 		margin: 0 10px;
		// 		&.btn-primary {
		// 			// letter-spacing: 12px;
		// 			// text-indent: 12px;
		// 		}
		// 	}			
		// }
		
	}
 }

/*-------------------
	量房报告 
 --------------------*/

 .report_details_form {

	.report_tab_steptwo {
		h3 {
			color:#555;
		}
		span {
			height: 50px;
			display: inline-block;
			width:50px;		
			border-left: 50px solid;	
		}
		div {
			background:#eee;
		}
	}
	.report_tab_listone {
		margin:60px 170px 0 25px;

		& > div {
			margin-bottom:20px;
			padding-bottom:20px;
			border-bottom:2px solid #eee;
			& > div > p span {
				color:#f00;
			}
			& > div >input {
				// margin-left:20px;
			}
		}
		& > div:last-child {
			border: none;
		}
	}
	.report_tab_listtwo {
		margin:60px 170px 0 160px;
		.radio-success {
			label{
				margin: 0 20px;
			}
		}
		.checkbox-success {
			label{
				margin: 0 20px;
			}
		}
		&  h3 {
			padding-bottom:20px;
			color:#169BD5;
			font-size:16px;
			font-weight:700;
			border-bottom:2px solid #eee;
		}
		& > div > div {
			margin-bottom:20px;
			padding-bottom:20px;
			border-bottom:2px solid #eee;
			& > div > p span {
				color:#f00;
			}
			& > div >input {
				margin-right: 20px;
			}
			&.btm_btn_group {
				    margin-bottom: 0;
				    // padding-bottom: 0;
				    border-bottom: none;
			}
		}
		& > div:last-child {
			border: none;
		}
	}

	.step_content {
		padding-bottom: 100px;
		display: none;
		.additional_info {
			display: none;
			label {
				&[for='house_fault_opinion'] {
					margin-left: 0 !important;
					&:before {
						display: none;
					}
				}
			}
		}
		.report_tab_listone .radio-success {
			label{
				margin: 0 20px;
			}
		} 
		.radio-inline {
			cursor: default;
		}
		// .btn_group {
		// 	position: fixed;
		// 	bottom: 0;
		// 	margin: 0;
		// 	padding: 20px 0;
		// 	background: rgba(75,86,100,0.8);
		// 	width: 100%;
		// 	left: 0;
		// 	text-align: center;
		// 	.btn {
		// 		margin: 0 10px;
		// 		&.btn-primary {
		// 			letter-spacing: 12px;
		// 			text-indent: 12px;
		// 		}
		// 	}
		// }
		.table {
			margin: 20px auto;
		}
		.inputtext {
			line-height: 30px;
		}
		.additional_info {
			margin-top: 10px;
		}
		.additional_info_radio {
			position: relative;
			width: 230px;
			padding: 6px 0 3px 15px;
			text-align: center;
			border: 1px solid #eee;
		}
		.additional_info_radio:before {
			// z-index: 1;
			position: absolute;
		    top: -20px;
			left: 8px;
			content: "";
			display: block;
			width: 0;
		    height: 0;
		    border: 10px solid transparent;
		    border-bottom-color: #eee;	   
		}
		.additional_info_text {
			position: relative;
			width: 290px;
			padding: 6px 0 3px 15px;
			text-align: center;
			border: 1px solid #eee;
		}
		.additional_info_text:before {
			// z-index: 1;
			position: absolute;
		    top: -20px;
			right: 64px;
			content: "";
			display: block;
			width: 0;
		    height: 0;
		    border: 10px solid transparent;
		    border-bottom-color: #eee;	   
		}

		// .house_fault_opinion .radio label:before{
		// 	content: "";
		// }
	}
	
	.step_box {
		.step {
			position: relative;
			// text-align:center;
			h3 {
				font-size:14px;
				// color:#169BD5;
				display: inline-block;
				margin: 0;
				line-height: 60px;
				background: #ddd;
				width: 100%;
				text-align: center;
				height: 60px;
				font-size: 16px;
				// position: absolute;
			}
			span {
				display:inline-block;
				width:30px;
				height:30px;
				// line-height:50px;
				position: absolute;
				right: 0;
				text-align:center;
				border-left: 30px solid #ddd;	
				border-top: 30px solid #fff;
				border-bottom: 30px solid #fff;
				// color:#fff;
				// background:#999;
				// border-radius:50%;
			}
			div {
				position: absolute;
				z-index:-1;
			    left: 42%;
			    top: 65px;
			    width: 100%;
			    height: 9px;
			    background: #eee;
			    // background-color: rgba(22, 155, 213, 1);
			    border: none;
			    border-radius: 10px;
			    -moz-box-shadow: none;
			    -webkit-box-shadow: none;
			    box-shadow: none;
			}			
		}
	 	.viewed {
			// span {
			// 	display:inline-block;
			// 	width:50px;
			// 	height:50px;
			// 	line-height:50px;
			// 	text-align:center;
			// 	color:#fff;
			// 	background:#169BD5;
			// 	border-radius:50%;
			// }
			span {
				background: #169BD5;
				border-left-color: #4b5664;
			}
			
			h3 {
				background: #4b5664;
				color: #fff;
			}

			div {
				background: #169BD5;
			}
			

		}		
	}
	.report_table {
		width: 1000px;
		.tabletitle {
			font-size:20px;
			text-align:center;
		}
		.trtitle {
			font-size:16px;
			text-align:center;
		}
		.leftmenu {
			width: 36px;
		}
		tr {
			td {
				vertical-align: middle;
				&:nth-child(2) {
					width: 120px;
				}
				&:nth-child(3) {
					width: 120px;
				}
				&:nth-child(5) {
					// width: 200px;
				}
			}
		}
	}
 }
 


// 设计图
.design_details_cont {
	float:left;
	// width:1000px;
	// margin-left:16px;
	.col-md-2 {
		img {
			width: 100%;
		}
	}
	.btn {
		font-size: 16px;	
		i {
			font-size: 20px;
			vertical-align: middle;
			margin: 0 10px;
		}	
		&.design_draw_add {
			width: 150px;
			margin-right: 0;
		}		
	}
}
	.blueprints {

		// padding-top:50px;
		width:100%;
		margin:0 auto;

		& > div {

			padding-bottom:20px;
			margin-bottom:20px;
			border-bottom:1px solid #ddd;

			h3 {

				font-size:18px;
				color:#333;

			}

			& > div >div {

				margin-bottom:20px;
			}
		}
		
		.btn {

			width: 50%;

		}
		.row {
			position: relative;
			.col-md-3 {
				
				&:last-child {
					position: absolute;
					bottom: 0;
					margin: 0;
					top: 50%;
					transform: translateY(-50%);
					right: 0;
					.btn {
						margin: 0 auto;
					}					
				}

			}			
		}

		.alreadyend{
			color:#999;
		}
		.version_set_success {
			font-size: 16px;
			text-align: center;
			display: block;
			i {
				color: green;
				font-size: 20px;
				vertical-align: middle;
			}
		}
		.img_box {
			position: relative;
			span {
				position: absolute;
				top: 0;
				left: 15px;
				display: block;
				background: #343c48;
				color: #fff;
				padding: 5px 10px;
			}
		}
	}
	// 物料清单
	.bom_detail_info {
		width:1000px;
		// margin-left: 230px;
	}

.design_draw_add_form, .design_draw_edit_form {
	.form-group {
		p {
			color: #bbb;
		}
	}
}	

/* --------------------------- 
	# bom page 物料清单页
 -----------------------------*/

.bom_detail_info {
	ul {
		li {
			font-size: 0;
			span {
				display: inline-block;
				line-height: 30px;
				// height: 30px;
				// min-height: 30px;
				border-bottom:1px solid;
				position: relative;
				overflow: hidden;
				text-overflow:ellipsis;
				white-space: nowrap;	
				padding: 10px 0;			
				&:nth-child(1) {
					width:10%;
				}
				&:nth-child(2) {
					width: 25%;
				}
				&:nth-child(3) {
					width: 10%;
				}
				&:nth-child(4) {
					width: 20%;
				}
				&:nth-child(5) {
					width: 5%;
				}
				&:nth-child(6) {
					width: 20%;
				}
				&:nth-child(7) {
					width: 10%;
					text-align: center;
				}
				&.qty {
					text-align: center;
					input {

						margin: 0;
						padding: 0;
						box-sizing: border-box;
						width: 50%;
						line-height:20px;
					}
				}
			}
			ul {
				li {
					ul {
						li {
							span {
								&:nth-child(2) {
									padding-left:20px;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* -------------------------------
# costForm page 成本控制单
---------------------------------- */
.cost_detail_info {
	// width: 1000px;
	// float: left;
	// margin-left: 20px;
}




/* -------------------
  # account page
----------------------
 */
.container {
	// width:1000px;
	// float:left;
}
.account_details {	
	padding-bottom:100px;
	.account_delails_money {
		padding: 20px 10px;
		margin-bottom:30px;
		// background:#fff;
		border: 2px solid #eee;
		& .account_delails_money_all h3 {
			font-size:16px;

			+ span{
				font-size:16px;
				color:#f00;
			}
		}
		& .account_delails_money_all > div:nth-child(2),& .account_delails_money_all > div:nth-child(5) {
			padding-top:20px;
			font-size:14px;
		}
		& .account_delails_money_all > div:nth-child(3) {
			padding-top:5px;
			font-size:12px;

			& > button:nth-child(1) {
				margin-bottom:10px;
			}
		}
		& > div:nth-child(2) >p a {
			color:#20985e;
		}
		& > div:nth-child(3) >p a {
			color:#dd8628;
		}
	}
	.account_delails_list {
		padding: 20px 40px;
		// background:#fff;
		border:2px solid #eee;
		& > p > span {
			padding:0 10px;
			&:nth-child(1) {
				padding-left:0;
				color:#f00;
				border-right:2px solid #666;
			}
		}
		ul li {
			margin-top:20px;
			padding:10px 0 ;
			border-bottom:2px solid #eee;
			
		}
	}
}

/* ------------------------------
	# gallery page 图库
-------------------------------- */

.gallery_details {
	width: 1000px;
	float: left;
	// margin: 10px;
	// overflow: hidden;
	> nav {
		padding-bottom: 30px;
		border-bottom: 2px solid #eee;
		ul {
			span {
				width:5%;
				float: left;
			}
			li {
			width: 10%;
			float: left;
			text-align: center;
			border-right: 1px solid #aaa;	
			}
			& li:nth-child(8) {
				border: none;
			}
			& li:nth-child(9) {
				width: 25%;
				border: none;
			}
		}
	}
	.gallery_details_list {
		margin-top: 20px;

		ul li{
			float: left;
			width: 25%;
			margin-bottom: 15px;
			div{
				position: relative;
				width: 92%;
				margin: 0 auto;
				padding-bottom: 5px;
				background:#eee;
				span{
					position: absolute;
					top: 4px;
					left: 4px;
					width: 40px;
					height: 20px;
					line-height: 20px;
					color: #fff;
					text-align: center;
					border-radius: 2px; 
					background: #f19a4f;
				}
				img{
					width:100%;
				}
				a{
					position: absolute;
					bottom: 10px;
					right: 5px;
					width: 26%;
					height: 26px;
					color: #fff;
					line-height: 26px;
					text-align: center;
					border-radius:4px;
					background: #1aaaf6;
				}
			}
		}
	}	
	
}

/*--------------------------------------
	# gallery page details 图库查看详情
---------------------------*/
.gallery_order {
	padding: 10px;
	h3 {
		font-size: 18px;
	}
	.gallery_order_list {
		margin-top: 20px;

		.gallery_order_list_item {
			margin-bottom: 14px;
			> ul {
				overflow: hidden;
				li {
					float: left;
				}
				& >:nth-child(1) {
					width: 25%;
					img {
						width: 100%;
					}
				}
				& >:nth-child(2) {
					width: 60%;
					margin-left: 4%;
					> h4 {
						font-size: 16px;
					}
				}
			}
				
		}
	}
}





























