// 

*,dl, dt,dd, ul, li {
	text-decoration: none;
	font-size: 13px;
	color: #000;
	margin: 0;
	padding: 0;
	font-family: arial;
	list-style: none;
}

// public style
.clrfix:after {
	clear: both;
	content: "";
	display: block;
}
.btn_line {
	border-bottom: 1px solid #eee;
	box-shadow: 0;
	clear: both;
}

/*--------------
	#button style 
 ---------------*/
.btn {
	border:1px solid #000;
	padding: 10px 20px;
	box-sizing: border-box;
	font-size: 14px;
}

.btn_primary {
	background: #000;
	color: #fff;
}
.btn_secondary {
	background: #fff;
}
.btn_thirdary {
	background: #eee;
}


/* ------------------------------------------ 
	# header
--------------------------------------------- */
.header {

	ul {
		list-style: none;
		li {
			float: left;
			padding: 5px 10px;
			a {
				border:1px solid;
				padding: 10px 20px;
				display: block;
			}
		}
		&:after {
			clear: both;
			content: "";
			display: block;
		}
	}

} 

/*------------------------------------------ 
	#sidebar
 ------------------------------------------*/
.side_bar {
	// border: 1px solid #ccc;
	// width: 200px;
	// margin: 10px;
	// padding: 5px;
	// display: none;
	.left_side_bar {
		float: left;
		width: 200px;
		border: 1px solid ;
		ul {
			padding: 10px;
			list-style: none;
			li {
				line-height: 30px;
				a {
					display: block;
					padding: 0 10px;
				}
				a:hover {
					background: #eee;
				}
			}
		}
	}
}


// home page

#home {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			padding: 0 5px;
			float: left;
			list-style: none;
			a {
				background: #eee;
				padding: 5px 10px;
			}
		}
	}
	dl {
		list-style: none;
	}
}

/* ----------------------------
	#my orders
------------------------------ */
.my_orders {

	padding: 10px;
	
	.main_body {
		width: 1200px;
		border:1px solid ;
		float: left;
		padding: 10px;
		// smargin-left: 10px;
		ul {
			list-style: none;
			li {
				list-style: none;
				border-bottom: 1px dashed #ddd;
				padding: 5px 10px;
				&:after {
					clear: both;
					display: block;
					content: "";
				}
			}
		}

		dl {
			float: left;
			width: 170px;
			// clear: both;
			dt {
				// float: left;
				font-weight: bold;
			}
			dd {
				// float: right;
			}
		}	
		.order_list {
			
			li {
				position: relative;
				dl {
					vertical-align: middle;
				}
				a {
					vertical-align: middle;
					display: block;
					background: #eee;
					right: 10px;
					position: absolute;
					top: 30%;
				}
			}
		
		}	
	}
	&:after {
		clear: both;
		display: block;
		content: "";
	}
}


/*--------------------------------
	#order details page
 --------------------------------*/
.order_details,.report_details,.bom_details,.design_details,.work_load {
	
	padding: 10px;

	.left_side_bar {
		float: left;
		width: 200px;
		border: 1px solid ;
		ul {
			padding: 10px;
			list-style: none;
			li {
				line-height: 30px;
				a {
					display: block;
					padding: 0 10px;
				}
				a:hover {
					background: #eee;
				}
			}
		}
	}

	.order_detail_info, .report_details_form{
		width: 1000px;
		float: left;

		.row {
			&> .col-md-6 {
				width: 50%;
				float: left;
			}

			&:after {
				clear: both;
				content: "";
				display: block;
			}
			.panel {
				border: 1px solid;
				padding: 10px;
				margin: 0 10px 10px;
			}
			.panel-heading {
				font-weight: bold;
				line-height: 30px;
			}
		}
		.row:last-child {
			.col-md-6 {

			}
		}
	}
	
	&:after {
		content: "";
		display: block;
		clear: both;

	}
}


/* --------------------------- 
	# work load page 工程量页
 -----------------------------*/

 .work_load {
	padding: 10px;
	.work_load_list {
		float: left;
		width: 1000px;
		padding: 10px;
		box-sizing: border-box;

		.work_load_list_title {
			font-size: 0;
			position: relative;
			li {
				float: left;
				display: inline-block;
				border-bottom:1px solid;
				box-sizing: border-box;
				&.order_num {
					width: 5%;
				}
				&.name {
					width: 10%;
				}
				&.description {
					width: 50%;
				}
				&.position {
					width: 10%;
				}
				&.unit {
					width: 5%;
				}
				&.work_qty {
					width: 20%;
				}					
			}
		}

		ul {
			li {

				ul {
					clear: both;

					li {
						span {
							&:nth-child(3) {
								padding-left:30px;
							}
						}
						ul {

							li {
								span {
									&:nth-child(3) {
										padding-left:60px;
									}
								}
							}
						}
					}
				}
				span {
					display: inline-block;
					float: left;
					box-sizing: border-box;
					// border-bottom:1px solid;
					// min-height: 35px;
					padding: 5px 2px;

					&:nth-child(1) {
						width: 5%;
					}
					&:nth-child(2) {
						width: 10%;
					}
					&:nth-child(3) {
						width: 50%;
					}
					&:nth-child(4) {
						width: 10%;
					}
					&:nth-child(5) {
						width: 5%;
					}
					&:nth-child(6) {
						width: 20%;
					}
				}
			}			
		}

		
	}
 }

/*-------------------
	量房报告 
 --------------------*/

 .report_details_form {

	.report_tab_steptwo {
		h3 {
			color:#555;
		}
		span {
			background:#999;
		}
		div {
			background:#eee;
		}
	}
	.report_tab_listone {
		margin:60px 170px 0 160px;
		& > div {
			margin-bottom:20px;
			padding-bottom:20px;
			border-bottom:2px solid #eee;
			& > div > p span {
				color:#f00;
			}
			& > div >input {
				margin-left:20px;
			}
		}
	}
	.report_tab_listtwo {
		margin:60px 170px 0 160px;
		&  h3 {
			padding-bottom:20px;
			color:#169BD5;
			font-size:16px;
			font-weight:700;
			border-bottom:2px solid #eee;
		}
		& > div > div {
			margin-bottom:20px;
			padding-bottom:20px;
			border-bottom:2px solid #eee;
			& > div > p span {
				color:#f00;
			}
			& > div >input {
				margin-left:20px;
			}
		}
	}
	.report_page_four table {
		width:80%;
		margin: 0 auto;
		.tabletitle {
			font-size:20px;
			text-align:center;
		}
		.trtitle {
			font-size:16px;
			text-align:center;
		}
		.leftmenu {
			width:2%;
		}		
	}	

	.step_content {
		display: none;
	}
	
	.step_box {
		.step {
			position: relative;
			text-align:center;
			h3 {
				font-size:14px;
				color:#169BD5;
			}
			span {
				display:inline-block;
				width:50px;
				height:50px;
				line-height:50px;
				text-align:center;
				color:#fff;
				background:#999;
				border-radius:50%;
			}
			div {
				position: absolute;
				z-index:-1;
			    left: 42%;
			    top: 65px;
			    width: 100%;
			    height: 9px;
			    background: #eee;
			    // background-color: rgba(22, 155, 213, 1);
			    border: none;
			    border-radius: 10px;
			    -moz-box-shadow: none;
			    -webkit-box-shadow: none;
			    box-shadow: none;
			}			
		}
	 	.viewed {
			// span {
			// 	display:inline-block;
			// 	width:50px;
			// 	height:50px;
			// 	line-height:50px;
			// 	text-align:center;
			// 	color:#fff;
			// 	background:#169BD5;
			// 	border-radius:50%;
			// }
			span {
				background: #169BD5;
			}

			div {
				background: #169BD5;
			}
			
		}		
	}
 }
 


// 设计图
.design_details_cont {
	float:left;
	width:1000px;
	margin-left:16px;
}
	.blueprints {

		padding-top:50px;
		width:100%;
		margin:0 auto;

		& > div {

			padding-bottom:20px;
			margin-bottom:20px;
			border-bottom:2px solid #eee;

			h3 {

				font-size:18px;
				color:#333;

			}

			& > div >div {

				margin-bottom:20px;
			}
		}
		& button:nth-child(1) {
			width:30%;
		}
		& button:nth-child(2) {
			width:50%;
		}
		.alreadyend{
			color:#999;
		}

	}
	// 物料清单
	.bom_detail_info {
		width:1000px;
		margin-left: 230px;
	}

/* --------------------------- 
	# bom page 物料清单页
 -----------------------------*/

.bom_detail_info {
	ul {
		li {
			font-size: 0;
			span {
				display: inline-block;
				line-height: 30px;
				height: 30px;
				min-height: 30px;
				border-bottom:1px solid;
				position: relative;
				overflow: hidden;
				text-overflow:ellipsis;
				white-space: nowrap;				
				&:nth-child(1) {
					width:10%;
				}
				&:nth-child(2) {
					width: 25%;
				}
				&:nth-child(3) {
					width: 10%;
				}
				&:nth-child(4) {
					width: 20%;
				}
				&:nth-child(5) {
					width: 5%;
				}
				&:nth-child(6) {
					width: 20%;
				}
				&:nth-child(7) {
					width: 10%;
					text-align: center;
				}
				&.qty {
					text-align: center;
					input {

						margin: 0;
						padding: 0;
						box-sizing: border-box;
						width: 50%;
						line-height:20px;
					}
				}
			}
			ul {
				li {
					ul {
						li {
							span {
								&:nth-child(2) {
									padding-left:20px;
								}
							}
						}
					}
				}
			}
		}
	}
}




































