

/*--------------------------------
	#order details page
 --------------------------------*/
.order_details {
	


	.order_detail_info{

	// 	.row {
	// 		&> .col-md-6 {
	// 			width: 50%;
	// 			float: left;
	// 			.fa {
	// 				font-size: 20px;
	// 				vertical-align: middle;
	// 				color: #4b5664;
	// 			}
	// 		}

	// 		&:after {
	// 			clear: both;
	// 			content: "";
	// 			display: block;
	// 		}

	// 		.panel-heading {
	// 			font-weight: bold;
	// 			line-height: 30px;
	// 		}
	// 	}
	// 	.row:last-child {
	// 		.col-md-6 {

	// 		}
	// 	}
	// }
	
	// &:after {
	// 	content: "";
	// 	display: block;
	// 	clear: both;

	}
}

/* ----------------------------
	#my orders
------------------------------ */
.main_body {

	.my_orders {
		
		.main_content {

			padding: 75px 25px ;

			.table {
				
				td {
					font-size: 14px;
					line-height: 35px;
					&:last-child {
						text-align: right;
					}
				}
			}
		}

	}
}
