

/* -------------
    # 工程量
--------------- */

// .box {
// 	position: relative;
// 	z-index: 1;
// 	&:after {
// 		clear: both;
// 		content: "";
// 		display: block;
// 	}
// }	


// /* left side bar */
	
// 	.left-side-bar {
// 		// margin: 15px;
		
// 		padding: 15px;
// 		width: 30%;
// 		float: left;
// 		ul {
// 			margin: 15px;
// 			border:1px solid #ccc;
// 			line-height: 30px;
// 			padding: 15px;
// 			li {
// 				&:hover {
// 					background: #eee;
// 				}
// 				a {
// 					display: block;
// 				}
// 			}
// 		}
// 	}

// /* main section */

// 	.main {
// 		float: left;
// 		// margin: 15px;
// 		padding: 15px;
// 		width: 70%;
// 		.work_amount {
// 			border:1px solid #ccc;
// 			margin: 15px 15px 15px 0;
// 		}
// 		.table {
// 			border: 1px solid;
// 			border-collapse: collapse;
// 		}

// 	}

// // reset style

// * {
// 	margin: 0;
// 	padding: 0;
// 	list-style: none;
// 	box-sizing: border-box;
// 	font-size: 13px;
// }

// a {
// 	text-decoration: none;
// 	color: #000;
// }


/* order details - 订单详情 */

// 


/* measuring report 量房报告 */
.report_tab_stepone{
	position: relative;
	text-align:center;
	h3{
		font-size:14px;
		color:#169BD5;
	}
	span{
		display:inline-block;
		width:50px;
		height:50px;
		line-height:50px;
		text-align:center;
		color:#fff;
		background:#169BD5;
		border-radius:50%;
	}
	div{
		position: absolute;
		z-index:-1;
	    left: 200px;
	    top: 65px;
	    width: 400px;
	    height: 9px;
	    background-color: rgba(22, 155, 213, 1);
	    border: none;
	    border-radius: 10px;
	    -moz-box-shadow: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
	
}
.report_tab_steptwo{
	h3{
		color:#555;
	}
	span{
		background:#999;
	}
	div{
		background:#eee;
	}
}
.report_tab_listone{
	margin:60px 170px 0 160px;
	& > div {
		margin-bottom:20px;
		padding-bottom:20px;
		border-bottom:2px solid #eee;
		& > div >p span{
			color:#f00;
		}
		& > div >input{
			margin-left:20px;
		}
	}
}
.report_tab_listtwo{
	margin:60px 170px 0 160px;
	&  h3{
		padding-bottom:20px;
		color:#169BD5;
		font-size:16px;
		font-weight:700;
		border-bottom:2px solid #eee;
	}
	& > div > div{
		margin-bottom:20px;
		padding-bottom:20px;
		border-bottom:2px solid #eee;
		& > div >p span{
			color:#f00;
		}
		& > div >input{
			margin-left:20px;
		}
	}
}
// 

/* material bill  物料清单 */

// 

/* design drawing 设计图 */

// 

/* project amount 工程量 */

