

/*--------------------------------
	#order details page
 --------------------------------*/
.order_details,.report_details,.bom_details,.design_details,.work_load,.cost_details {
	

	.order_detail_info, .report_details_form{

		.row {
			&> .col-md-6 {
				width: 50%;
				float: left;
				.fa {
					font-size: 20px;
					vertical-align: middle;
					color: #4b5664;
				}
			}

			&:after {
				clear: both;
				content: "";
				display: block;
			}
			.panel {
				// border: 1px solid;
				// padding: 10px;
				// margin: 0 10px 10px;
			}
			.panel-heading {
				font-weight: bold;
				line-height: 30px;
			}
		}
		.row:last-child {
			.col-md-6 {

			}
		}
	}
	
	&:after {
		content: "";
		display: block;
		clear: both;

	}
}

/* ----------------------------
	#my orders
------------------------------ */
.my_orders {

	// padding: 10px;
	
	.main_content {
		.table {
			td {
				font-size: 16px;
				line-height: 35px;
			}
		}
	}

}