.work_load {
	// padding: 10px;
	.work_load_list {

		float: left;
		margin-bottom: 100px;
		box-sizing: border-box;

		.work_load_list_title {

			font-size: 0;
			position: relative;

			li {

				float: left;
				display: inline-block;
				border-bottom:1px solid #ddd;
				box-sizing: border-box;
				padding: 10px 0 10px 20px;
				// &.order_num {
				// 	width: 5%;
				// }
				&.name {
					width: 10%;
				}
				&.description {
					width: 60%;
				}
				&.position {
					width: 10%;
					text-align: center;
				}
				&.unit {
					width: 10%;
					text-align: center;
				}
				&.work_qty {
					width: 10%;
					text-align: center;
				}					
			}
		}

		ul {
			li {

				ul {
					clear: both;

					li {
						span {
							&:nth-child(2) {
								padding-left:30px;
							}
							img {
								margin: 0 10px;
							}
						}
						ul {

							li {
								span {
									&:nth-child(2) {
										padding-left:60px;
									}
								}
							}
						}
					}
				}

				span {

					display: inline-block;
					float: left;
					box-sizing: border-box;
					font-size: 14px;
					// border-bottom:1px solid;
					// min-height: 35px;
					padding: 10px 0 10px 20px;

					&:nth-child(1) {
						width: 10%;
					}
					&:nth-child(2) {
						width: 60%;
					}
					&:nth-child(3) {
						width: 10%;
						text-align: center;
					}
					&:nth-child(4) {
						width: 10%;
						text-align: center;
					}
					&:nth-child(5) {
						width: 10%;
						text-align: center;
						input {
							width: 50px;
							text-align: center;
						}
					}
					// &:nth-child(6) {
					// 	width: 20%;
					// }
				}
			}			
		}
		
		// form {
		// 	ul {
		// 		li {
		// 			span {
		// 				&:last-child {
		// 					text-align: center;
		// 				}
		// 			}
		// 		}
		// 	}
		// }
	}
 }

 /* project amount 工程量 */

#amount {
	
	position: relative;
	.designer_list_head, .designer_list_content {
		margin: 0;
		li {
			// float: left;
			padding: 5px 15px;
		}
		span {
			display: inline-block;
			// float: left;

			padding: 5px 15px;
		}
		.designer_list_num {
			width: 5%;
		}
		.designer_list_name {
			width: 20%;
		}
		.designer_list_description {
			width: 30%;
			vertical-align: middle;
		}
		.designer_list_position {
			width: 10%;
		}
		.designer_list_unit {
			width: 10%;
			text-align: center;
		}
		.designer_list_amount {
			width: 20%;
		}

		&:after {
			clear: both;
			content: "";
			display: block;
		}
	}
	.designer_list_head {
		background: #eee;
		margin-top: 15px;
	}

	.designer_list_content {
		li {
			padding: 0;
			span:last-child {
				&:after {
					content: "";
					display: block;
					clear: both;
				}
			}
		}
		ul {
			li {
				float: none;
				span.designer_list_name {
					text-align: right;
					img {
						display: inline-block;
					}
				}
				ul {
					li {
						.designer_list_description {
							padding-left:50px;
						}
					}
				}
			}			
		}
	}

	.btn_group {
		position: fixed;
		width: 100%;
		left: 0px;
		bottom: 0;
		padding: 15px 0;
		text-align: center;
		background: #eee;
		button {

			&.save {

			}

			&.sub {

			}

			&.reset {

			}
		}
	}
}
