
<div class="bom_details">
	
	<div class="left_side_bar">
		<ul>
			
			<li>
				<a  ui-sref="dashboard.orders.details({id:orderId,code:orderCode})"><i class="fa fa-file-text-o"></i>订单详情</a>
			</li>

			<li>
				<a ui-sref="dashboard.orders.report({id:orderId,code:orderCode})">
				<i class="fa fa-list-alt"></i>量房报告</a>
			</li>

			<li>
				<a ui-sref="dashboard.orders.bom({id:orderId,code:orderCode})"><i class="fa fa-list-ol"></i>物料清单</a>
			</li>			

			<li>
				<a ui-sref="dashboard.orders.design({id:orderId,code:orderCode})"><i class="fa fa-file-picture-o"></i>设计图</a>
			</li>

			<li >
				<a ui-sref="dashboard.orders.workload({id:orderId,code:orderCode})"><i class="fa fa-tasks"></i>工程量</a>
			</li>
			<li>
				<a ui-sref="dashboard.orders.costForm({id:orderId,code:orderCode})">
				<i class="fa fa-bar-chart fa-2"></i>成本控制单</a>
			</li>			

		</ul>
	</div>


	<div class="bom_detail_info main_content">
		<ul class="list_title">
			<li>
				<span class="">主材类型</span>
				<span>物料名称</span>
				<span>品牌</span>
				<span>型号</span>
				<span>单位</span>
				<span>数量计算规则</span>	
				<span>数量</span>			
			</li>
		</ul>
		<ul>
			<li ng-repeat="item in data">
				
				<span class="">{{item.name}}</span>
				<span>&nbsp;</span>
				<span>&nbsp;</span>
				<span>&nbsp;</span>
				<span>&nbsp;</span>
				<span>&nbsp;</span>	
				<span>&nbsp;</span>				
				<ul ng-if="item.value">
					<li ng-repeat="a in item.value">
						<span class="">&nbsp;</span>
						<span><img src="images/level-down.png">{{a.name}}</span>
						<span>&nbsp;</span>
						<span>&nbsp;</span>
						<span>&nbsp;</span>
						<span>&nbsp;</span>	
						<span>&nbsp;</span>								
						<ul ng-if="a.subList">
							<li ng-repeat="b in a.subList">
								<span>&nbsp;</span>
								<span class=""> <img src="images/level-down.png"> {{b.name}}</span>
								<span>{{b.brandName}}</span>
								<span title="{{b.model}}">{{b.model}}</span>
								<span>{{b.unit}}</span>
								<span>{{b.rules}}</span>
									
								<span class="qty">
									<input type="text" name="qty" value="{{b.quantity}}" ng-disabled="subChk">
									<input type="hidden" name="configId" value="{{b.materialConfigurationlId}}">
								</span>														
								
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>

		<div class="row" ng-show="!subChk">
			<div class="btm_btn_group col-md-12">
				<button class="btn btn-primary btn-lg" ng-click="save()">保存</button>
				<button class="btn btn-default btn-lg" ng-click='subBom()'>提交</button>
			</div>						
		</div>		
	</div>
</div>

