
<div class="bom_details">
	
	<div class="left_side_bar">
		<ul>			
			<li>
				<a  ui-sref="dashboard.orders.details({id:orderId,code:orderCode})">订单详情</a>
			</li>

			<li>
				<a ui-sref="dashboard.orders.report({id:orderId,code:orderCode})">量房报告</a>
			</li>

			<li>
				<a ui-sref="dashboard.orders.bom({id:orderId,code:orderCode})">物料清单</a>
			</li>			

			<li>
				<a ui-sref="dashboard.orders.design({id:orderId,code:orderCode})">设计图</a>
			</li>

			<li>
				<a ui-sref="dashboard.orders.workload({id:orderId,code:orderCode})">工程量</a>
			</li>			
		</ul>
	</div>


	<div class="bom_detail_info">
		<table class="table-striped">
			<th>
				<td>主材类型</td>
				<td>物料名称</td>
				<td>品牌</td>
				<td>型号</td>
				<td>单位</td>
				<td>数量计算规则</td>
				<td>数量</td>
			</th>
			<tbody>
				<tr>
					<td>甲供主材</td>
					<td colspan="6">入户门</td>
				</tr>
				<tr>
					<td></td>
					<td>主入户门</td>
					<td>霍曼（北京）贸易有限公司</td>
					<td>主门1200*2300</td>
					<td>樘</td>
					<td>按施工图图示数量计算</td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td></td>
					<td>主入户门</td>
					<td>霍曼（北京）贸易有限公司</td>
					<td>主门1200*2300</td>
					<td>樘</td>
					<td>按施工图图示数量计算</td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td></td>
					<td>主入户门</td>
					<td>霍曼（北京）贸易有限公司</td>
					<td>主门1200*2300</td>
					<td>樘</td>
					<td>按施工图图示数量计算</td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td></td>
					<td>主入户门</td>
					<td>霍曼（北京）贸易有限公司</td>
					<td>主门1200*2300</td>
					<td>樘</td>
					<td>按施工图图示数量计算</td>
					<td><input type="text"></td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn_primary" ng-click="save()"> 保存</button>
		<button class="btn btn_secondary" ng-click='subBom()'>提交</button>
	</div>
</div>

