<div class="cost_details clrfix">
	<div class="left_side_bar">

		<ul>
			
			<li>
				<a  ui-sref="dashboard.orders.details({id:orderId,code:orderCode})"><i class="fa fa-file-text-o"></i>订单详情</a>
			</li>

			<li>
				<a ui-sref="dashboard.orders.report({id:orderId,code:orderCode})"><i class="fa fa-list-alt"></i>量房报告</a>
			</li>

			<li>
				<a ui-sref="dashboard.orders.bom({id:orderId,code:orderCode})"><i class="fa fa-list-ol"></i>物料清单</a>
			</li>			

			<li>
				<a ui-sref="dashboard.orders.design({id:orderId,code:orderCode})"><i class="fa fa-file-picture-o"></i>设计图</a>
			</li>

			<li>
				<a ui-sref="dashboard.orders.workload({id:orderId,code:orderCode})"><i class="fa fa-tasks"></i>工程量</a>
			</li>			
			<li>
				<a ui-sref="dashboard.orders.costForm({id:orderId,code:orderCode})"><i class="fa fa-bar-chart fa-2"></i>成本控制单</a>
			</li>

		</ul>
	</div>
	<div class="cost_detail_info main_content">
		<h3>生命屋装修成本控制单</h3>
		<p>
			<span>项目编号：0803</span>&nbsp;
			<span>项目名称：中海凯旋门1号楼2-1101翻新工程</span>
		</p>
		<table class="table table-bordered">
			<!-- <th colspan="8" class="tabletitle">量房记录表</th> -->
			<tr>
				<th class="" rowspan="2">编号</th>
				<td class="" rowspan="2">分部分项名称</td>
				<td class="" colspan="4">材料信息</td>
				<td class="" colspan="2">价格</td>
			</tr>
			<tr>
				<td class="">供应商</td>
				<td class="">规格</td>
				<td class="">单位</td>
				<td class="">数量</td>
				<td class="">单价</td>
				<td class="">合计</td>
			</tr>
			<tr>	
				<td class="" colspan="8">第一部分：户内精装修</td>
			</tr>
			<tr>	
				<td class="" colspan="2"> 一、基础装修</td>
				<td class=""></td>
				<td class=""></td>
				<td class="">m*2</td>
				<td class="">S</td>
				<td class="">P1</td>
				<td class="">X</td>
			</tr>
			<tr>
				<td class="" colspan="2">二、主材</td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class="">Y</td>
			</tr>
			<tr>
				<td class="">1</td>
				<td class="">地板</td>
				<td class="">国产</td>
				<td class="">实木复合地板，人字拼，国产</td>
				<td class="">㎡</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class="">2</td>
				<td class="">地板</td>
				<td class="">国产</td>
				<td class="">实木复合地板，人字拼，国产</td>
				<td class="">㎡</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class="">3</td>
				<td class="">地板</td>
				<td class="">国产</td>
				<td class="">实木复合地板，人字拼，国产</td>
				<td class="">㎡</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class="">4</td>
				<td class="">地板</td>
				<td class="">国产</td>
				<td class="">实木复合地板，人字拼，国产</td>
				<td class="">㎡</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class="">5</td>
				<td class="">地板</td>
				<td class="">国产</td>
				<td class="">实木复合地板，人字拼，国产</td>
				<td class="">㎡</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class="">6</td>
				<td class="">地板</td>
				<td class="">国产</td>
				<td class="">实木复合地板，人字拼，国产</td>
				<td class="">㎡</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">_入户电子门</td>
				<td class="">诺沃芬或霍曼</td>
				<td class="">子母门 1200*2300</td>
				<td class="">樘</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H1</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">_入户电子门</td>
				<td class="">诺沃芬或霍曼</td>
				<td class="">子母门 1200*2300</td>
				<td class="">樘</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H1</td>
			</tr>			
			<tr>
				<td class="">7</td>
				<td class="">室内门</td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class="">2,500.00</td>
				<td class="">H0</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">_书房、主卧室门</td>
				<td class="">定制</td>
				<td class="">2700*1370*100 对开</td>
				<td class="">樘</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H1</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">_起居室、更衣室、卧室2、3、4门</td>
				<td class="">定制</td>
				<td class="">2700*1370*100 对开</td>
				<td class="">樘</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H1</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">_盥洗间、公共卫生间、卫生间</td>
				<td class="">定制</td>
				<td class="">2700*1370*100 对开</td>
				<td class="">樘</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H1</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">_更衣室双扇门</td>
				<td class="">定制</td>
				<td class="">2700*1370*100 对开</td>
				<td class="">樘</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H1</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">_设备间门</td>
				<td class="">定制</td>
				<td class="">2700*1370*100 对开</td>
				<td class="">樘</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H1</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">_主卫门</td>
				<td class="">定制</td>
				<td class="">2700*1370*100 对开</td>
				<td class="">樘</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H1</td>
			</tr>
			<tr>
				<td class="">8</td>
				<td class="">主材省略</td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
			</tr>
			<!-- The second section -->
			<tr>
				<th colspan="8" class="trtitle">第二部分：绿色科技系统</th>
			</tr>
			<tr>
				<td class="">1</td>
				<td class="">智能化家居</td>
				<td class=""></td>
				<td class=""></td>
				<td class="">项</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class="">2</td>
				<td class=""> 毛细管采暖制冷系统</td>
				<td class="">定制</td>
				<td class=""></td>
				<td class="">项</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class="">3</td>
				<td class="">热水锅炉及软水机</td>
				<td class="">定制</td>
				<td class=""></td>
				<td class="">项</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class="">4</td>
				<td class="">制冷及置换式新风设备</td>
				<td class="">定制</td>
				<td class=""></td>
				<td class="">项</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class="">5</td>
				<td class="">地面送风口</td>
				<td class="">定制</td>
				<td class=""></td>
				<td class="">项</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class="">6</td>
				<td class="">排风扇</td>
				<td class="">定制</td>
				<td class=""></td>
				<td class="">项</td>
				<td class=""><input type="text"></td>
				<td class="">2,500.00</td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class="">1</td>
				<td class="">同层排水系统</td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">水箱面板1</td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">水箱</td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">面盆支架</td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">固定组件</td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">支架延长脚</td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class="">8</td>
				<td class="">绿色科技省略</td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">绿色科技系统小计</td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">材料设备采购</td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class="">H</td>
			</tr>
			<tr>
				<td class=""></td>
				<td class="">设备系统施工</td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class=""></td>
				<td class="">H</td>
			</tr>

            <!-- The third section -->

            <tr>
				<th class="" colspan="8"> 第三部分：其他费用</th>
			</tr>
			<tr>
				<td class="">1</td>
				<td class="">完工检测费用</td>
				<td class=""></td>
				<td class=""></td>
				<td class="">㎡</td>
				<td class="">S</td>
				<td class="">P3</td>
				<td class="">Z</td>
			</tr>

			 <!-- The fourth section -->
			<tr>
				<th class="" colspan="8">第四部分：户内税费及利润</th>
			</tr>
			<tr>
				<td class="">1</td>
				<td class=""> 管理费（4.5%）</td>
				<td class=""></td>
				<td class=""></td>
				<td class="">㎡</td>
				<td class=""></td>
				<td class=""></td>
				<td class="">A</td>
			</tr>
			<tr>
				<td class="">2</td>
				<td class=""> 利润  （5%）</td>
				<td class=""></td>
				<td class=""></td>
				<td class="">㎡</td>
				<td class=""></td>
				<td class=""></td>
				<td class="">B</td>
			</tr>
			<tr>
				<td class="">3</td>
				<td class=""> 税金 （17%）</td>
				<td class=""></td>
				<td class=""></td>
				<td class="">㎡</td>
				<td class=""></td>
				<td class=""></td>
				<td class="">C</td>
			</tr>
		</table>
	</div>
</div>