
<div class="design_details">
	<div class="left_side_bar">

		<ul>
			
			<li>
				<a  ui-sref="dashboard.orders.details({id:orderId,code:orderCode})"><i class="fa fa-file-text-o"></i>订单详情</a>
			</li>

			<li>
				<a ui-sref="dashboard.orders.report({id:orderId,code:orderCode})"><i class="fa fa-list-alt"></i>量房报告</a>
			</li>

			<li>
				<a ui-sref="dashboard.orders.bom({id:orderId,code:orderCode})"><i class="fa fa-list-ol"></i>物料清单</a>
			</li>			

			<li>
				<a ui-sref="dashboard.orders.design({id:orderId,code:orderCode})"><i class="fa fa-file-picture-o"></i>设计图</a>
			</li>

			<li>
				<a ui-sref="dashboard.orders.workload({id:orderId,code:orderCode})"><i class="fa fa-tasks"></i>工程量</a>
			</li>			
			<li>
				<a ui-sref="dashboard.orders.costForm({id:orderId,code:orderCode})"><i class="fa fa-bar-chart fa-2"></i>成本控制单</a>
			</li>
		</ul>
	</div>

   <div class="design_details_cont main_content">
   		<div class="row">
   			<div class="col-md-2 col-md-offset-10">
				<button class="btn btn-primary  design_draw_add" ng-click="designDrawAdd()">
				<i class="fa fa-plus-circle"></i>
				设计图
				</button>  				 				
   			</div>
   		</div>	
		

		<div role="tabpanel" class="tab-pane" id="drawing" aria-labelledby="drawing-tab">
			<div class=" blueprints">
			<!-- repest here -->
			{{data}}
				<div class="row" ng-repeat="item in data" ng-if="!data == ''">
					<div class="col-md-2">
						<img src="{{item.urlPath}}" alt="" /> {{item.designTypeText}}
					</div>
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-12">
								<h3>{{item.documentName}} </h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3"><span>类型：{{item.designTypeText}}</span></div>
							<div class="col-md-3"><span>上传人：{{item.uploadUser}}</span></div>
							<div class="col-md-6"><span>最新更新：2016-07-25 13：01：25</span></div>
						</div>
						<div class="row">
							<div class="col-md-6"><a href="{{item.maxUrl}}">{{item.documentName}}.max</a></div>
							<div class="col-md-6"><a ng-href="{{item.pdfUrl}}">{{item.documentName}}.pdf</a></div>
						</div>
					</div>
					<div class="col-md-3">
						<button type="button" class="btn btn-default btn-block" ng-disabled="!item.hasLoginDesigner" ng-show="!item.hasSubmit"><i class="fa fa-pencil-square-o" ng-click="designDrawsEdit()"></i>修改</button>
						<br />
						<button type="button" class="btn btn-primary btn-block" ng-disabled="!item.hasLoginDesigner && !item.hasSubmit" ng-show="!item.hasSubmit" ng-click="setDesignAsFinal(item.decorationDesignDrawId)"><i class="fa fa-check-circle"></i>设为最终版</button>

						<span ng-show="item.hasSubmit && item.hasLoginDesigner" class="version_set_success">
							<i class="fa fa-check-circle"></i>
							已设为终板
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

