
<div class="design_details">
	
	<div class="left_side_bar">

		<ul>
			
			<li>
				<a  ui-sref="dashboard.orders.details({id:orderId})">订单详情</a>
			</li>

			<li>
				<a ui-sref="dashboard.report({id:orderId})">量房报告</a>
			</li>

			<li>
				<a ui-sref="dashboard.bom({id:orderId})">物料清单</a>
			</li>			

			<li>
				<a ui-sref="dashboard.design({id:orderId})">设计图</a>
			</li>

			<li>
				<a ui-sref="dashboard.orders.workload({id:orderId})">工程量</a>
			</li>			

		</ul>
	</div>

   <div class="design_details_cont">
		<div role="tabpanel" class="tab-pane" id="drawing" aria-labelledby="drawing-tab">
			<div class=" blueprints">
				<div class="row">
					<div class="col-md-2">
						<img src="http://placehold.it/200x160" alt="">
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<h3>重庆阳光100E3楼大户型装修给排水施工图</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2"><span>类型：排水施工图</span></div>
							<div class="col-md-2"><span>上传人：李浩</span></div>
							<div class="col-md-8"><span>最新更新：2016-07-25 13：01：25</span></div>
						</div>
						<div class="row">
							<div class="col-md-6"><a href="#">重庆阳光100E3楼大户型装修给排水施工图.max</a></div>
							<div class="col-md-6"><a href="#">重庆阳光100E3楼大户型装修给排水施工图.pdf</a></div>
						</div>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>修改</button>
						<button type="button" class="btn btn-default"><i class="fa fa-external-link"></i>设为最终版</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<img src="http://placehold.it/200x160" alt="">
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<h3>重庆阳光100E3楼大户型装修给排水施工图</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2"><span>类型：排水施工图</span></div>
							<div class="col-md-2"><span>上传人：李浩</span></div>
							<div class="col-md-8"><span>最新更新：2016-07-25 13：01：25</span></div>
						</div>
						<div class="row">
							<div class="col-md-6"><a href="#">重庆阳光100E3楼大户型装修给排水施工图.max</a></div>
							<div class="col-md-6"><a href="#">重庆阳光100E3楼大户型装修给排水施工图.pdf</a></div>
						</div>
					</div>
					<div class="col-md-2">
						<p class="alreadyend">已设为终版</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<img src="http://placehold.it/200x160" alt="">
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<h3>重庆阳光100E3楼大户型装修给排水施工图</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2"><span>类型：排水施工图</span></div>
							<div class="col-md-2"><span>上传人：李浩</span></div>
							<div class="col-md-8"><span>最新更新：2016-07-25 13：01：25</span></div>
						</div>
						<div class="row">
							<div class="col-md-6"><a href="#">重庆阳光100E3楼大户型装修给排水施工图.max</a></div>
							<div class="col-md-6"><a href="#">重庆阳光100E3楼大户型装修给排水施工图.pdf</a></div>
						</div>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>修改</button>
						<button type="button" class="btn btn-default"><i class="fa fa-external-link"></i>设为最终版</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

