<div class="design_draw_add_form">
	
	<form class="form-horizontal" id="uploadForm" enctype="multipart/form-data">

		<div class="form-group">
			<label class="form-label col-sm-2">设计图类型</label>
			<div class="col-sm-10">
				
				<h2 ng-if="designType==16">效果图</h2>
				<h2 ng-if="designType==15">户型图</h2>
				<h2 ng-if="designType==14">暖通施工图</h2>
				<h2 ng-if="designType==13">电气设计师</h2>
				<h2 ng-if="designType==12">排水施工图</h2>
				<h2 ng-if="designType==11">建筑施工图</h2>
			</div>
		</div>		
		<!-- 效果图 -->
		<div ng-if="designType==16">
			<div class="form-group">
				<label class="col-sm-2">样图</label>
				<div class="col-sm-10">
					<input type="file" name="masterDrawing">
					<p>建议上传280*180PX缩略图，类型.JPG</p>
				</div>
				
			</div>
			<div class="form-group">
				<label class="col-sm-2">效果图链接</label>
				<div class="col-sm-10">
					<input type="text" name="" id="designUrl">
				</div>
				
			</div>	
			<div class="form-group">
				<input type="button" value="确定上传" name="" class="btn">
			</div>		
		</div>
		<!-- 其他 -->

		<div ng-if="designType==11||designType==12||designType==13||designType==14||designType==15">
			<div class="form-group">
				<label class="col-sm-2">样图</label>
				<div class="col-sm-10">
					<input type="file" name="masterDrawing"  accept="image/gif, image/jpeg">
					<p>建议上传280*180PX缩略图，类型.JPG</p>
				</div>
				
			</div>

			<div class="form-group">
				<label class="col-sm-2">设计源文件</label>
				<div class="col-sm-10">
					<input type="file" name="sourceFile"  accept="dwg">
					<p>上传该设计图CAD源文件，类型DWG</p>
				</div>
				
			</div>

			<div class="form-group">
				<label class="col-sm-2">PDF文件</label>
				<div class="col-sm-10">
					<input type="file" name="pdfFile"  accept="pdf">
					<p>上传该设计图CAD源文件，类型DWG</p>
				</div>
				
			</div>
			
			<div class="form-group">
				<div class="col-sm-12">
					<input type="button" value="确定上传" name="" class="btn btn-primary">
				</div>
				
			</div>
												
		</div>
	</form>
	<div class="loading_box">
		<div class="loading_box_animation">
			<img src="images/loading.gif">
		</div>
	</div>
</div>