
<div class="design_details">
	<div class="left_side_bar">
		
		<ul>
			
			<li ng-if="roleCode==15">
				<a  ui-sref="dashboard.orders.details({id:orderId,code:orderCode})"><i class="fa fa-file-text-o"></i>订单详情 </a>
			</li>

			<li >
				<a ui-sref="dashboard.orders.report({id:orderId,code:orderCode})">
				<i class="fa fa-list-alt"></i>量房报告 </a>
			</li>

			<li ng-if="roleCode==11 || roleCode==12 || roleCode==13 || roleCode==14">
				<a ui-sref="dashboard.orders.bom({id:orderId,code:orderCode})"><i class="fa fa-list-ol"></i>物料清单</a>
			</li>			

			<li>
				<a ui-sref="dashboard.orders.design({id:orderId,code:orderCode})"><i class="fa fa-file-picture-o"></i>设计图</a>
			</li>

			<li ng-if="roleCode==11 || roleCode==12 || roleCode==13 || roleCode==14">
				<a ui-sref="dashboard.orders.workload({id:orderId,code:orderCode})"><i class="fa fa-tasks"></i>工程量</a>
			</li>
			<li ng-if="roleCode==16">
				<a ui-sref="dashboard.orders.costForm({id:orderId,code:orderCode})">
				<i class="fa fa-bar-chart fa-2"></i>成本控制单</a>
			</li>			

		</ul>
		
	</div>

   <div class="design_details_cont main_content">
   		<div class="row">
   			{{weakElecAdded}}-
   			{{strongElecAdded}}
   			<div class="col-md-3 col-md-offset-9">
				<button class="btn btn-primary  design_draw_add" ng-click="designDrawAdd()" ng-if="!roleCode==13 && !hasAdded">
				<i class="fa fa-plus-circle"></i>
				设计图 
				</button> 

				<button class="btn btn-primary  design_draw_add pull-right" ng-click="designDrawAdd(4)" ng-if="strongElecAdded!=true">
				<i class="fa fa-plus-circle" ></i>
				强电施工图
				</button> 				 				 			
				<button class="btn btn-primary  design_draw_add pull-right" ng-click="designDrawAdd(7)" ng-if="weakElecAdded!=true">
				<i class="fa fa-plus-circle"></i>
				弱电施工图
				</button> 	
								
   			</div>
   		</div>	

		<div role="tabpanel" class="tab-pane" id="drawing" aria-labelledby="drawing-tab">
			<div class=" blueprints">
			<!-- repest here -->
				<div class="row" ng-repeat="item in data" ng-if="!data == ''">
					<div class="col-md-2 img_box">
						<img src="{{item.urlPath}}" alt="" /> 
						<span>{{item.designTypeText}}</span>
					</div>
					<div class="col-md-7 info-box">
						<div class="row">
							<div class="col-md-12">
								<h3 ng-if="item.panoramaUrl && item.panoramaUrl != 'undefined'">
									<a class="info-box-title" href="{{item.panoramaUrl}}" target="blank">{{item.panoramaUrl}}</a>
								</h3>
								<h3 ng-if="!item.panoramaUrl || item.panoramaUrl=='undefined'">{{item.documentName}} </h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 info-box-txt">
								<div class=""><span>类型：{{item.designTypeText}}</span></div>
								<div class=""><span>上传人：{{item.uploadUser}}</span></div>
								<div class=""><span>最新更新：{{item.uploadTime | date: 'yyyy年MM月dd日' }}</span></div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6" ng-if="item.maxName !=''">
								<a href="{{item.maxUrl}}" download="" target="_blank">{{item.maxName}}</a>
							</div>
							<div class="col-md-6" ng-if="item.xmlName !=''">
								<a href="{{item.maxUrl}}" download="" target="_blank">{{item.xmlName}}</a>
							</div>
							<div class="col-md-6" ng-if="item.dwgName !=''">
								<a href="{{item.dwgUrl}}" download="" target="_blank">{{item.dwgName}}</a>
							</div>
							<div class="col-md-6" ng-if="item.pdfName !=''">
								<a href="{{item.pdfUrl}}" download="" target="_blank">{{item.pdfName}}</a>
							</div>									
							<div class="col-md-6" ng-if="item.fbxName !=''">
								<a href="{{item.fbxUrl}}" download="" target="_blank">{{item.fbxName}}</a>
							</div>
							<div class="col-md-6" ng-if="item.pakName !=''">
								<a href="{{item.pakUrl}}" download="" target="_blank">{{item.pakName}}</a>
							</div>
							<div class="col-md-6" ng-if="item.skpName !=''">
								<a href="{{item.skpUrl}}" download="" target="_blank">{{item.skpName}}</a>
							</div>
							<div class="col-md-6" ng-if="item.mwhomeName !=''">
								<a href="{{item.mwhomeUrl}}" download="" target="_blank">{{item.mwhomeName}}</a>
							</div>													
						</div>
					</div>
					<div class="col-md-3 btn-box"> 
					
<!-- 						<div ng-if="item.hasEndVersion!=1 && item.hasLoginDesigner">
							hello
						</div> -->
						<div ng-if="item.hasLoginDesigner">
								
								<div ng-if="item.hasEndVersion==1">

									<span  class="version_set_success">
										<i class="fa fa-check-circle"></i>
										已设为终版
									</span>

								</div>

								<div ng-if="!item.hasEndVersion==1">
									<div >
										<button type="button" class="btn btn-default btn-block" ng-disabled="!item.hasLoginDesigner"  ng-click="designDrawsEdit(item.decorationDesignDrawId)"><i class="fa fa-pencil-square-o" ></i>修改</button>
										<br />
										<button type="button" class="btn btn-primary btn-block" ng-disabled="!item.hasLoginDesigner && !item.hasSubmit"  ng-click="setDesignAsFinal(item.decorationDesignDrawId)"><i class="fa fa-check-circle"></i>设为最终版</button>
									</div>
								</div>								

						</div>

						<div ng-if="!item.hasLoginDesigner">
							
							<div ng-if="item.hasEndVersion==1">

								<span  class="version_set_success">
									<i class="fa fa-check-circle"></i>
									已设为终版
								</span>

							</div>

							<div ng-if="item.hasEndVersion!=1">
								<div  >
									<button type="button" class="btn btn-default btn-block" ng-disabled="!item.hasLoginDesigner" ng-show="!item.hasSubmit" ng-click="designDrawsEdit(item.decorationDesignDrawId)"><i class="fa fa-pencil-square-o" ></i>修改</button>
									<br />
									<button type="button" class="btn btn-primary btn-block" ng-disabled="!item.hasLoginDesigner && !item.hasSubmit" ng-show="!item.hasSubmit" ng-click="setDesignAsFinal(item.decorationDesignDrawId)"><i class="fa fa-check-circle"></i>设为最终版</button>
								</div>
							</div>	

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

