<div class="gallery_order">
	<h3>重庆阳光100E3楼大户型装修</h3>
	<span>户型：2室2厅1卫</span>
	<div class="gallery_order_list">
		<ul>
			<li class="gallery_order_list_item">
				<ul>
					<li><a href=""><img src="http://placehold.it/100x60" alt=""></a></li>
					<li>
						<h4>重庆阳光100E3楼大户型装修户型图</h4>
						<a href="">重庆阳光100E3楼大户型装修户型图.dwg</a>
						<br/>
						<a href="">重庆阳光100E3楼大户型装修户型图.pdf</a>
					</li>
				</ul>
			</li>
			<li class="gallery_order_list_item">
				<ul>
					<li><a href=""><img src="http://placehold.it/100x60" alt=""></a></li>
					<li>
						<h4>重庆阳光100E3楼大户型装修户型图</h4>
						<a href="">重庆阳光100E3楼大户型装修户型图.dwg</a>
						<br/>
						<a href="">重庆阳光100E3楼大户型装修户型图.pdf</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	
</div>