
<div class="design_details">
	
	<div class="left_side_bar">

		<ul>
			
			<li>
				<a  ui-sref="dashboard.gallery.details({id:orderId,code:orderCode})">图库</a>
			</li>

			<li>
				<a ui-sref="dashboard.gallery.report({id:orderId,code:orderCode})">图库</a>
			</li>

			<li>
				<a ui-sref="dashboard.gallery.bom({id:orderId,code:orderCode})">图库</a>
			</li>			

			<li>
				<a ui-sref="dashboard.gallery.design({id:orderId,code:orderCode})">图库</a>
			</li>

			<li>
				<a ui-sref="dashboard.gallery.workload({id:orderId,code:orderCode})">图库</a>
			</li>			

		</ul>
	</div>

   <div class="gallery_details">
  		<nav>
  			<ul>
  				<span>筛选：</span>
  				<li><a href="">全部</a></li>
  				<li><a href="">一室</a></li>
  				<li><a href="">两室</a></li>
  				<li><a href="">三室</a></li>
  				<li><a href="">四室</a></li>
  				<li><a href="">复式</a></li>
  				<li><a href="">别墅</a></li>
  				<li>
  					<input type="text" placeholder="输入搜索内容">
  					<button type="submit" class="">搜索</button>
  				</li>
  			</ul>
  		</nav>
  		<div class="gallery_details_list">
  			<ul>
  				<li>
  					<div>
  						<span>两室</span>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="" ng-click="detailsPop()">查看详情</a>
  					</div>
  				</li>
  				<li>
  					<div>
  					<span>两室</span>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="">查看详情</a>
  					</div>
  				</li>
  				<li>
  					<div>
  					<span>两室</span>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="">查看详情</a>
  					</div>
  				</li>
  				<li>
  					<div>
  					<span>两室</span>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="">查看详情</a>
  					</div>
  				</li>
  				<li>
  					<div>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="">查看详情</a>
  					</div>
  				</li>
  				<li>
  					<div>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="">查看详情</a>
  					</div>
  				</li>
  				<li>
  					<div>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="">查看详情</a>
  					</div>
  				</li>
  				<li>
  					<div>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="">查看详情</a>
  					</div>
  				</li>
  			</ul>
  		</div>
	</div>
</div>

