
<div class="design_details">
	
	<div class="left_side_bar">

    <ul>
      
      <li>
        <a  ui-sref="dashboard.orders.details({id:orderId,code:orderCode})"><i class="fa fa-file-text-o"></i>订单详情</a>
      </li>

      <li>
        <a ui-sref="dashboard.orders.report({id:orderId,code:orderCode})">
        <i class="fa fa-list-alt"></i>量房报告</a>
      </li>

      <li ng-if="roleCode!=15 && roleCode!=16">
        <a ui-sref="dashboard.orders.bom({id:orderId,code:orderCode})"><i class="fa fa-list-ol"></i>物料清单</a>
      </li>     

      <li>
        <a ui-sref="dashboard.orders.design({id:orderId,code:orderCode})"><i class="fa fa-file-picture-o"></i>设计图</a>
      </li>

      <li ng-if="roleCode!=15 && roleCode!=16">
        <a ui-sref="dashboard.orders.workload({id:orderId,code:orderCode})"><i class="fa fa-tasks"></i>工程量</a>
      </li>
      <li>
        <a ui-sref="dashboard.orders.costForm({id:orderId,code:orderCode})">
        <i class="fa fa-bar-chart fa-2"></i>成本控制单</a>
      </li>     

    </ul>
	</div>

   <div class="gallery_details main_content">
  		<nav>
  			<ul>
  				<span>筛选：</span>
  				<li><a href="">全部</a></li>
  				<li><a href="">一室</a></li>
  				<li><a href="">两室</a></li>
  				<li><a href="">三室</a></li>
  				<li><a href="">四室</a></li>
  				<li><a href="">复式</a></li>
  				<li><a href="">别墅</a></li>
  				<li>
  					<input type="text" placeholder="输入搜索内容">
  					<button type="submit" class="">搜索</button>
  				</li>
  			</ul>
  		</nav>
  		<div class="gallery_details_list">
  			<ul>
  				<li>
  					<div>
  						<span>两室</span>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="" ng-click="detailsPop()">查看详情</a>
  					</div>
  				</li>
  				<li>
  					<div>
  					<span>两室</span>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="">查看详情</a>
  					</div>
  				</li>
  				<li>
  					<div>
  					<span>两室</span>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="">查看详情</a>
  					</div>
  				</li>
  				<li>
  					<div>
  					<span>两室</span>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="">查看详情</a>
  					</div>
  				</li>
  				<li>
  					<div>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="">查看详情</a>
  					</div>
  				</li>
  				<li>
  					<div>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="">查看详情</a>
  					</div>
  				</li>
  				<li>
  					<div>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="">查看详情</a>
  					</div>
  				</li>
  				<li>
  					<div>
  						<p><img src="http://placehold.it/200x160" alt=""></p>
  						<h4>重庆国际新城样板间</h4>
  						<a href="">查看详情</a>
  					</div>
  				</li>
  			</ul>
  		</div>
	</div>
</div>

