<div class="login" ng-controller="login">
	<form name="login" ng-submit="sub()">
		<fieldset>
			<label>用户名</label>
			<input type="text" name="" ng-model="data.user">
		</fieldset>
		<fieldset>
			<label>密码</label>
			<input type="password" name="" ng-model="data.pwd">
		</fieldset>

		<fieldset>
			<label>角色</label>
			<select ng-model="data.role">
				<option value="11" selected>
					建筑设计师
				</option>
				<option value="12">
					给排水设计师
				</option>
				<option value="13">
					电气化设计师
				</option>

				<option value="14">
					暖通设计师14
				</option>
				<option value="15">
					量房师
				</option>

				<option value="16">
					效果图设计师
				</option>
			</select>
		</fieldset>
		<fieldset>
			<p>{{data}}</p>
			<button class="btn btn_primary">
				登录
			</button>
			<button class="btn btn_secondary">
				忘记密码
			</button>					
		</fieldset>
	</form>
</div>