
<div class="design_details">
	
	<div class="left_side_bar">

		<ul>
			
			<li>
				<a  ui-sref="dashboard.myAccount.myAccount({id:orderId,code:orderCode})">账户详情</a>
			</li>

			<li>
				<a ui-sref="dashboard.myAccount.report({id:orderId,code:orderCode})">账户报告</a>
			</li>

			<li>
				<a ui-sref="dashboard.myAccount.bom({id:orderId,code:orderCode})">账户清单</a>
			</li>			

			<li>
				<a ui-sref="dashboard.myAccount.design({id:orderId,code:orderCode})">账户</a>
			</li>

			<li>
				<a ui-sref="dashboard.myAccount.workload({id:orderId,code:orderCode})">账户</a>
			</li>			

		</ul>
	</div>

   <div class="container">
		
		<div class="row">
		<!-- <div class="col-md-2"></div> -->
			<div class="col-md-12 mainSection orderContent">
				<div class="account_details container">
					<div class="row account_delails_money">
						<div class="col-md-8">
							<div class="row account_delails_money_all">
								<div class="col-md-2">
									<h3>账户余额:</h3>
									<span>500.00元</span>
								</div>
								<div class="col-md-3">
									<p>锁定金额：<span>300</span>元</p>
									<p>可用金额：<span>200</span>元</p>
								</div>
								<div class="col-md-2">
									<button type="button" class="btn btn-primary">充值</button>
									<button type="button" class="btn btn-primary">提现</button>
								</div>
							
							
								<div class="col-md-2">
									<h3>总收入:</h3>
									<span>200.00元</span>
								</div>
								<div class="col-md-3">
									<p>惩罚金额：<span>300</span>元</p>
									<p>收入金额：<span>200</span>元</p>
								</div>
							</div>
						</div>
						<div class="col-md-2 account_delails_money_govern">
							<p><a href="#" class=""><i  class="fa fa-search"></i>交易查询</a></p>
							<p><span>交易记录</span><span>收支明细</span></p>
							<p><span>提现记录</span><span>充值记录</span></p>
						</div>
						<div class="col-md-2">
							<p><a href="#"><i class="fa fa-pencil-square-o"></i>账户管理</a></p>
							<p><span>账户信息</span><span>实名认证</span></p>
							<p><span>授权管理</span></p>
						</div>
					</div>
					<div class="row account_delails_list">
						<p><span>近三个月收支明细</span><span>三个月前收支明细</span></p>
						<ul>
							<li>
								<div class="row">
									<div class="col-md-2">
										<span>2017.07.28</span>
									</div>
									<div class="col-md-5">
										<span>中海凯旋门5号楼翻新工程保证金</span>
									</div>
									<div class="col-md-2">
										<span>-100.00</span>
									</div>
									<div class="col-md-2">
										<span>交易成功</span>
									</div>
									<div class="col-md-1">
										<a href="#">详情<i class="fa fa-sort-desc"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-2">
										<span>2017.07.24</span>
									</div>
									<div class="col-md-5">
										<span>重庆国际新城精装修项目收入</span>
									</div>
									<div class="col-md-2">
										<span>+200.00</span>
									</div>
									<div class="col-md-2">
										<span>交易成功</span>
									</div>
									<div class="col-md-1">
										<a href="#">详情<i class="fa fa-sort-desc"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-2">
										<span>2017.07.26</span>
									</div>
									<div class="col-md-5">
										<span>雅居乐御宾府16号楼精装修项目收入</span>
									</div>
									<div class="col-md-2">
										<span>-300.00</span>
									</div>
									<div class="col-md-2">
										<span>交易成功</span>
									</div>
									<div class="col-md-1">
										<a href="#">详情<i class="fa fa-sort-desc"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-2">
										<span>2017.07.12</span>
									</div>
									<div class="col-md-5">
										<span>雅居乐御宾府16号楼精装修项目保证金</span>
									</div>
									<div class="col-md-2">
										<span>-100.00</span>
									</div>
									<div class="col-md-2">
										<span>交易成功</span>
									</div>
									<div class="col-md-1">
										<a href="#">详情<i class="fa fa-sort-desc"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-2">
										<span>2017.07.15</span>
									</div>
									<div class="col-md-5">
										<span>双威理想城24号楼翻新工程收入</span>
									</div>
									<div class="col-md-2">
										<span>-100.00</span>
									</div>
									<div class="col-md-2">
										<span>交易成功</span>
									</div>
									<div class="col-md-1">
										<a href="#">详情<i class="fa fa-sort-desc"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-2">
										<span>2017.07.27</span>
									</div>
									<div class="col-md-5">
										<span>中海凯旋门5号楼翻新工程保证金</span>
									</div>
									<div class="col-md-2">
										<span>+400.00</span>
									</div>
									<div class="col-md-2">
										<span>交易成功</span>
									</div>
									<div class="col-md-1">
										<a href="#">详情<i class="fa fa-sort-desc"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-2">
										<span>2017.07.28</span>
									</div>
									<div class="col-md-5">
										<span>双威理想城24号楼翻新工程收入</span>
									</div>
									<div class="col-md-2">
										<span>-500.00</span>
									</div>
									<div class="col-md-2">
										<span>交易成功</span>
									</div>
									<div class="col-md-1">
										<a href="#">详情<i class="fa fa-sort-desc"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-2">
										<span>2017.07.28</span>
									</div>
									<div class="col-md-5">
										<span>雅居乐御宾府16号楼精装修项目保证金</span>
									</div>
									<div class="col-md-2">
										<span>+300.00</span>
									</div>
									<div class="col-md-2">
										<span>交易成功</span>
									</div>
									<div class="col-md-1">
										<a href="#">详情<i class="fa fa-sort-desc"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-2">
										<span>2017.07.28</span>
									</div>
									<div class="col-md-5">
										<span>中海凯旋门5号楼翻新工程保证金</span>
									</div>
									<div class="col-md-2">
										<span>-200.00</span>
									</div>
									<div class="col-md-2">
										<span>交易成功</span>
									</div>
									<div class="col-md-1">
										<a href="#">详情<i class="fa fa-sort-desc"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-2">
										<span>2017.07.28</span>
									</div>
									<div class="col-md-5">
										<span>雅居乐御宾府16号楼精装修项目收入</span>
									</div>
									<div class="col-md-2">
										<span>+500.00</span>
									</div>
									<div class="col-md-2">
										<span>交易成功</span>
									</div>
									<div class="col-md-1">
										<a href="#">详情<i class="fa fa-sort-desc"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-2">
										<span>2017.07.28</span>
									</div>
									<div class="col-md-5">
										<span>雅居乐御宾府16号楼精装修项目保证金</span>
									</div>
									<div class="col-md-2">
										<span>+100.00</span>
									</div>
									<div class="col-md-2">
										<span>交易成功</span>
									</div>
									<div class="col-md-1">
										<a href="#">详情<i class="fa fa-sort-desc"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-2">
										<span>2017.07.28</span>
									</div>
									<div class="col-md-5">
										<span>中海凯旋门5号楼翻新工程保证金</span>
									</div>
									<div class="col-md-2">
										<span>-300.00</span>
									</div>
									<div class="col-md-2">
										<span>交易成功</span>
									</div>
									<div class="col-md-1">
										<a href="#">详情<i class="fa fa-sort-desc"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-2">
										<span>2017.07.28</span>
									</div>
									<div class="col-md-5">
										<span>雅居乐御宾府16号楼精装修项目收入</span>
									</div>
									<div class="col-md-2">
										<span>-400.00</span>
									</div>
									<div class="col-md-2">
										<span>交易成功</span>
									</div>
									<div class="col-md-1">
										<a href="#">详情<i class="fa fa-sort-desc"></i></a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
						
						





			</div>
		</div>
	</div>
</div>

